{% include 'base-header.html' %}


<div class="container">
  <div class="row">
  <p></p>
    <!-- sidebar -->
    
    <!-- content -->
    <div class="col-md-8">
      <div class="page-header">
      {% if data['edit'] %}
        <h1><i class="fa fa-eye-slash fa-1x"></i> Manage Monitor</h1>
      {% else %}
        <h1><i class="fa fa-eye-slash fa-1x"></i> Add Monitor</h1>
      {% endif %}
      </div>
      {% if data['error'] %}
      <p class="alert alert-danger">{{ data['msg'] }}</p>
      {% elif data['msg'] and data['error'] == False %}
      <p class="alert alert-success">{{ data['msg'] }}</p>
      {% endif %}
      {% if form.errors %}
      {% for field, error in form.errors.items() %}
      {% for msg in error %}
      <p class="alert alert-danger">{{msg}}</p>
      {% endfor %}
      {% endfor %}
      {% endif %}
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
            Logentries Webhook
            </div>
          </div>
          <div class="panel-body">
            <form action="{{ data['url'] }}" method="post" name="monitor" target="_self" class="form-horizontal" role="form">
            {{ form.csrf_token }}

            {% include 'monitors/base.html' %}
            
                <p></p>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>

      <div class="panel-group" id="accordion">
    {% include 'monitors/docs/logentries-webhook-details.html' %}
    {% include 'monitors/docs/url-details.html' %}

      </div>

    </div>
  </div> <!-- row -->
</div> <!-- container -->

{% include 'dash-footer.html' %}
