{% include 'base-header.html' %}


<div class="container">
  <div class="row">
  <p></p>
    <!-- sidebar -->
    {% include 'sidebar.html' %}
    <!-- content -->
    <div class="col-md-8">
      <div class="page-header">
      {% if data['edit'] %}
        <h1><i class="fa fa-eye-slash fa-1x"></i> Manage Monitor</h1>
      {% else %}
        <h1><i class="fa fa-eye-slash fa-1x"></i> Add Monitor</h1>
      {% endif %}
      </div>
      {% if data['error'] %}
      <p class="alert alert-danger">{{ data['msg'] }}</p>
      {% elif data['msg'] and data['error'] == False %}
      <p class="alert alert-success">{{ data['msg'] }}</p>
      {% endif %}
      {% if form.errors %}
      {% for field, error in form.errors.items() %}
      {% for msg in error %}
      <p class="alert alert-danger">{{msg}}</p>
      {% endfor %}
      {% endfor %}
      {% endif %}
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
            Validate SSL Common Name
            </div>
          </div>
          <div class="panel-body">
            <form action="{{ data['url'] }}" method="post" name="ssl-common-name" target="_self" class="form-horizontal" role="form">
            {{ form.csrf_token }}

            {% include 'monitors/base.html' %}
            {% include 'monitors/timer.html' %}
            {% include 'monitors/datacenter.html' %}
            <hr>
            <div class="form-group">
              <label for="Host" class="col-sm-4 control-label">Host</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" id="ssl-common-name-host" class="btn btn-default" rel="popover" data-content="Host for which you want to verify SSL cert CN. Must use TLSv1 or higher. If you wish to monitor multiple hosts, add multiple monitors." title="Host">
                      <i class="fa fa-question"></i>
                    </button>
                  </span>
                  {% if data['edit'] %}
                  {{ form.host(class_="form-control", value=data['monitor']['data']['host']) }}
                  {% else %}
                  {{ form.host(class_="form-control", placeholder="example.com") }}
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="Port" class="col-sm-4 control-label">Port</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" id="ssl-common-name-port" class="btn btn-default" rel="popover" data-content="Port number" title="Port">
                      <i class="fa fa-question"></i>
                    </button>
                  </span>
                  {% if data['edit'] %}
                  {{ form.port(class_="form-control", value=data['monitor']['data']['port']) }}
                  {% else %}
                  {{ form.port(class_="form-control", placeholder="443") }}
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="Expected CN" class="col-sm-4 control-label">Expected CN</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" id="ssl-common-name-expected_hostname" class="btn btn-default" rel="popover" data-content="Host name expected in certificate's CN" title="Expected CN">
                      <i class="fa fa-question"></i>
                    </button>
                  </span>
                  {% if data['edit'] %}
                  {{ form.expected_hostname(class_="form-control", value=data['monitor']['data']['expected_hostname']) }}
                  {% else %}
                  {{ form.expected_hostname(class_="form-control", placeholder="example.com") }}
                  {% endif %}
                </div>
              </div>
            </div>
                <p></p>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>

      <div class="panel-group" id="accordion">

      </div>

    </div>
  </div> <!-- row -->
</div> <!-- container -->

{% include 'dash-footer.html' %}
