{% include 'base-header.html' %}


<div class="container">
  <div class="row">
  <p></p>
    <!-- sidebar -->
    {% include 'sidebar.html' %}
    <!-- content -->
    <div class="col-md-8">
      <div class="page-header">
      {% if data['edit'] %}
        <h1><i class="fa fa-eye-slash fa-1x"></i> Manage Monitor</h1>
      {% else %}
        <h1><i class="fa fa-eye-slash fa-1x"></i> Add Monitor</h1>
      {% endif %}
      </div>
      {% if data['error'] %}
      <p class="alert alert-danger">{{ data['msg'] }}</p>
      {% elif data['msg'] and data['error'] == False %}
      <p class="alert alert-success">{{ data['msg'] }}</p>
      {% endif %}
      {% if form.errors %}
      {% for field, error in form.errors.items() %}
      {% for msg in error %}
      <p class="alert alert-danger">{{msg}}</p>
      {% endfor %}
      {% endfor %}
      {% endif %}
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
            SSL Certificate Not Expired
            </div>
          </div>
          <div class="panel-body">
            <form action="{{ data['url'] }}" method="post" name="ssl-certificate-expiry" target="_self" class="form-horizontal" role="form">
            {{ form.csrf_token }}

            {% include 'monitors/base.html' %}
            {% include 'monitors/timer.html' %}
            {% include 'monitors/datacenter.html' %}
            <hr>
            <div class="form-group">
              <label for="Host name" class="col-sm-4 control-label">Host name</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" id="ssl-certificate-expiry-hostname" class="btn btn-default" rel="popover" data-content="Host name for which you want to verify SSL cert expiry date. Must use TLSv1 or higher. If you wish to monitor multiple hostnames, add multiple monitors." title="Host name">
                      <i class="fa fa-question"></i>
                    </button>
                  </span>
                  {% if data['edit'] %}
                  {{ form.hostname(class_="form-control", value=data['monitor']['data']['hostname']) }}
                  {% else %}
                  {{ form.hostname(class_="form-control", placeholder="example.com") }}
                  {% endif %}
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label for="Port Number" class="col-sm-4 control-label">Port Number</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" id="ssl-certificate-expiry-port" class="btn btn-default" rel="popover" data-content="Port number " title="Port number">
                      <i class="fa fa-question"></i>
                    </button>
                  </span>
                  {% if data['edit'] %}
                  {{ form.port(class_="form-control", value=data['monitor']['data']['port']) }}
                  {% else %}
                  {{ form.port(class_="form-control", placeholder="443") }}
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="Warning threshold (in days)" class="col-sm-4 control-label">Warning threshold (in days)</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" id="ssl-certificate-expiry-num_days" class="btn btn-default" rel="popover" data-content="Number of days before certificate expiration the monitor starts failing." title="Warning threshold (in days)">
                      <i class="fa fa-question"></i>
                    </button>
                  </span>
                  {% if data['edit'] %}
                  {{ form.num_days(class_="form-control", value=data['monitor']['data']['num_days']) }}
                  {% else %}
                  {{ form.num_days(class_="form-control", placeholder="7") }}
                  {% endif %}
                </div>
              </div>
            </div>
                <p></p>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>

      <div class="panel-group" id="accordion">

      </div>

    </div>
  </div> <!-- row -->
</div> <!-- container -->

{% include 'dash-footer.html' %}
