SECRET_KEY = "update_me!"
SECURITY_PASSWORD_SALT = "update_me!"
BIND_IP = "0.0.0.0"
BIND_PORT = 8000
CSRF_ENABLED = True
SALT = "update_me!"
DBHOST = "localhost"
DBPORT = "28015"
DATABASE = "crdb"
DBAUTHKEY = ""
DEBUG = True
COOKIE_TIMEOUT = "1200"
ENVNAME = "[Alpha]"
STATHAT_EZ_KEY = 'update_me!'
STATHAT_USE_GEVENT = True
STATHAT_GEVENT_POOL_SIZE = 10
STRIPE_PUBKEY = "update_me!"
STRIPE_PRIVATE_KEY = "update_me!"
STRIPE_PAYMENTS_URL = "update_me!"
ASSEMBLY_PRIVATE_KEY = "update_me!"
ASSEMBLY_PAYMENTS_URL = "update_me!"
STATIC_PAGES = {
    'tos' : 'tos.html',
    'monitors' : 'monitors.html',
    'reactions' : 'reactions.html',
    'pricing' : 'pricing.html',
    'faq' : 'faq.html'
}
PRESERVE_CONTEXT_ON_EXCEPTION = False
PACKAGES = {
    'lite' : {
        'choices' : {
            ('30mincheck', 'Every 30 Minutes'),
            ('5mincheck', 'Every 5 Minutes'),
            ('2mincheck', 'Every 2 Minutes'),
            ('30seccheck', 'Every 30 Seconds')
        },
        'reaction_multiplier' : 5,
        'data_retention' : 86400,
        'acttype' : "Lite",
        'cost_monthly' : 0.00,
        'cost_yearly' : 0.00,
        'upgraded' : False
    },
    'free' : {
        'choices' : {
            ('30mincheck', 'Every 30 Minutes'),
            ('5mincheck', 'Every 5 Minutes'),
            ('2mincheck', 'Every 2 Minutes'),
            ('30seccheck', 'Every 30 Seconds')
        },
        'reaction_multiplier' : 5,
        'data_retention' : 86400,
        'acttype' : "Lite",
        'cost_monthly' : 0.00,
        'cost_yearly' : 0.00,
        'upgraded' : False
    },
    'lite-v2' : {
        'choices' : {
            ('30mincheck', 'Every 30 Minutes'),
            ('5mincheck', 'Every 5 Minutes'),
            ('2mincheck', 'Every 2 Minutes'),
            ('30seccheck', 'Every 30 Seconds')
        },
        'reaction_multiplier' : 2,
        'data_retention' : 86400,
        'acttype' : "Lite",
        'cost_monthly' : 0.00,
        'cost_yearly' : 0.00,
        'upgraded' : False
    },
    'beta-pro' : {
        'choices' : {
            ('30mincheck', 'Every 30 Minutes'),
            ('5mincheck', 'Every 5 Minutes'),
            ('2mincheck', 'Every 2 Minutes'),
            ('30seccheck', 'Every 30 Seconds')
        },
        'reaction_multiplier' : 2,
        'data_retention' : 86400,
        'acttype' : "Promotional",
        'cost_monthly' : 0.00,
        'cost_yearly' : 0.00,
        'upgraded' : False
    },
    'pro' : {
        'choices' : {
            ('30mincheck', 'Every 30 Minutes'),
            ('5mincheck', 'Every 5 Minutes'),
            ('2mincheck', 'Every 2 Minutes'),
            ('30seccheck', 'Every 30 Seconds')
        },
        'reaction_multiplier' : 2,
        'data_retention' : 604800,
        'acttype' : "Pro",
        'cost_monthly' : 1.00,
        'cost_yearly' : 9.00,
        'upgraded' : True
    },
    'proplus' : {
        'choices' : {
            ('30mincheck', 'Every 30 Minutes'),
            ('5mincheck', 'Every 5 Minutes'),
            ('2mincheck', 'Every 2 Minutes'),
            ('30seccheck', 'Every 30 Seconds')
            ('5seccheck', 'Every 5 Seconds')
        },
        'reaction_multiplier' : 2,
        'data_retention' : 604800,
        'acttype' : "ProPlus",
        'cost_monthly' : 8.99,
        'cost_yearly' : 89.99,
        'upgraded' : True
    },
    'enterprise' : {
        'choices' : {
            ('30mincheck', 'Every 30 Minutes'),
            ('5mincheck', 'Every 5 Minutes'),
            ('2mincheck', 'Every 2 Minutes'),
            ('30seccheck', 'Every 30 Seconds')
        },
        'reaction_multiplier' : 2,
        'data_retention' : 604800,
        'acttype' : "Enterprise",
        'cost_monthly' : 1.00,
        'cost_yearly' : 9.00,
        'upgraded' : True
    },
}
SUBSCRIPTIONS = {
    'default' : {
        'cost': 4.99,
        'interval': 'month'
    },
    'ec663ba0-c8a9-446a-95b3-0ddbe34d1e85_runbook_499_monthly' : {
        'cost': 4.99,
        'interval': 'month'
    },
    'ec663ba0-c8a9-446a-95b3-0ddbe34d1e85_runbook_4999_yearly' : {
        'cost': 49.99,
        'interval': 'year'
    },
    'cloudroutes_cr_yearly_2' : {
        'cost': 9.00,
        'interval': 'year'
    },
    'cloudroutes_cr_monthly' : {
        'cost': 1.00,
        'interval': 'month'
    }
}
DATACENTERS = {
    'choices' : {
        ("dc1queue", 'DevZone 1'),
        ("dc2queue", 'DevZone 2'),
    }
}

