<div class="row featurette">
 <div class="col-md-12">

    <h2>Pricing</h2>

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
        <h3>Pro</h3>
        </div>
        <div class="panel-body">
        <table class="table">
        <tr>
        <td><h4>$19.99<small>/mo</small></h4></td>
        </tr>
        <tr>
        <td><h5>20 <small>Monitors</small></h5></td>
        </tr>
        <tr>
        <td><h5>40 <small>Reactions</small></h5></td>
        </tr>
        <tr>
        <td><h5>30 min, 5 min, 2 min & 30 sec <small>Monitor Intervals</small></h5></td>
        </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
        <h3>Lite</h3>
        </div>
        <div class="panel-body">
        <table class="table">
        <tr>
        <td><h4>Free</h4></td>
        </tr>
        <tr>
        <td><h5>2 <small>Monitors</small></h5></td>
        </tr>
        <tr>
        <td><h5>4 <small>Reactions</small></h5></td>
        </tr>
        <tr>
        <td><h5>30 min & 5 min <small>Monitor Intervals</small></h5></td>
        </table>
        </div>
      </div>
    </div>

  </div>
</div>

  <div class="well">
  <p class="lead">Need more than 20 Monitors? Once you upgrade to our Pro plan you can customize your subscription by adding Monitor Packages to your account. Each Package will give your account 20 Monitors and 40 Reactions; giving you the ability to add what you need, when you need it.</p> 
  </div>
