{% include 'base-header.html' %}


<div class="container">
  <div class="row">
  <p></p>
    <!-- sidebar -->
    
    <!-- content -->
    <div class="col-md-8">
      <div class="page-header">
      {% if data['edit'] %}
        <h1><i class="fa fa-cogs fa-1x"></i> Manage Reaction</h1>
      {% else %}
        <h1><i class="fa fa-cogs fa-1x"></i> Add Reaction</h1>
      {% endif %}
      </div>
      {% if data['error'] %}
      <p class="alert alert-danger">{{ data['msg'] }}</p>
      {% elif data['msg'] and data['error'] == False %}
      <p class="alert alert-success">{{ data['msg'] }}</p>
      {% endif %}
      {% if form.errors %}
      {% for field, error in form.errors.items() %}
      {% for msg in error %}
      <p class="alert alert-danger">{{msg}}</p>
      {% endfor %}
      {% endfor %}
      {% endif %}

        <div class="panel panel-primary">
          <div class="panel-heading">
          <div class="panel-title">
            CloudFlare DNS: Replace an IP
          </div>
          </div>
          <div class="panel-body">
            <form action="{{ data['url'] }}" method="post" name="cloudflare-ip-replace" target="_self" class="form-horizontal" role="form">
            {{ form.csrf_token }}

            {% include 'reactions/base.html' %}
            <hr>

              <div class="col-sm-4">
              </div>
              <div class="col-sm-8">
                    <p class="help-block">Specify your CloudFlare accounts email address as this is required for CloudFlare's API.</p>
              </div>
                
                <div class="form-group">
                <label for="Email" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" id="cl-email" class="btn btn-default" rel="popover" data-content="This field should contain your CloudFlare email address." title="CloudFlare Email Address"><i class="fa fa-question"></i></button>
                </span>
                {% if data['edit'] %}
                {{ form.email(class_="form-control", value=data['reaction']['data']['email']) }}
                {% else %}
                {{ form.email(class_="form-control", placeholder="CloudFlare Email Address") }}
                {% endif %}
              </div>
            </div>
              </div>  
                
                <div class="form-group">
                <label for="Domain" class="col-sm-4 control-label">Domain</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" id="cl-domain" class="btn btn-default" rel="popover" data-content="This field should contain the domain name of interest. Make sure that this domain name is listed in the Websites tab on CloudFlare." title="CloudFlare Domain Name"><i class="fa fa-question"></i></button>
                </span>
                {% if data['edit'] %}
                {{ form.domain(class_="form-control", value=data['reaction']['data']['domain']) }}
                {% else %}
                {{ form.domain(class_="form-control", placeholder="Domain") }}
                {% endif %}
                </div>
            </div>
              </div>  
                
                <div class="form-group">
                <label for="APIKey" class="col-sm-4 control-label">CloudFlare API Key</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" id="cl-api-key" class="btn btn-default" rel="popover" data-content="This field should contain your CloudFlare API key. It can be found on in the Account tab on CloudFlare" title="CloudFlare API Key"><i class="fa fa-question"></i></button>
                </span>
              {% if data['edit'] %}
              {{ form.apikey(class_="form-control", value=data['reaction']['data']['apikey']) }}
              {% else %}
              {{ form.apikey(class_="form-control", placeholder="CloudFlare API Key") }}
              {% endif %}
              </div>
            </div>
              </div>  

              <div class="col-sm-4">
              </div>
              <div class="col-sm-8">
                    <p class="help-block">Enter the IP/CNAME to remove.</p>
              </div>

                <div class="form-group">
                <label for="IP" class="col-sm-4 control-label">IP/CNAME</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" id="cl-cname" class="btn btn-default" rel="popover" data-content="This field should contain the IP/CNAME you would like to remove." title="IP/CNAME to Remove"><i class="fa fa-question"></i></button>
                </span>
              {% if data['edit'] %}
              {{ form.ip(class_="form-control", value=data['reaction']['data']['ip']) }}
              {% else %}
              {{ form.ip(class_="form-control", placeholder="IP/CNAME") }}
              {% endif %}
              </div>
            </div>
              </div>  

              <div class="col-sm-4">
              </div>
              <div class="col-sm-8">
                    <p class="help-block">Enter the IP/CNAME to replace it with.</p>
              </div>

                <div class="form-group">
                <label for="IP" class="col-sm-4 control-label">Failover IP/CNAME</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" id="cl-replaceip" class="btn btn-default" rel="popover" data-content="This field should contain the IP/CNAME you would like to failover to." title="Failover IP/CNAME"><i class="fa fa-question"></i></button>
                </span>
              {% if data['edit'] %}
              {{ form.replaceip(class_="form-control", value=data['reaction']['data']['replaceip']) }}
              {% else %}
              {{ form.replaceip(class_="form-control", placeholder="Failover IP/CNAME") }}
              {% endif %}
              </div>
            </div>
              </div>  

            
                <div class="form-group">
                <label for="Failback" class="col-sm-4 control-label">Failback Method</label>
            <div class="col-sm-8">
              {% if data['edit'] %}
              {{ form.failback(class_="select", value=data['reaction']['data']['failback']) }}
              {% else %}
              {{ form.failback(class_="select", placeholder="Failback Method") }}
              {% endif %}
            </div>
              </div>  

                <p></p>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      <div class="panel-group" id="accordion">
    {% include 'reactions/docs/cloudflare-ip-replace-details.html' %}

      </div>
    </div>
  </div> <!-- row -->
</div> <!-- container -->

{% include 'dash-footer.html' %}
