{% include 'base-header.html' %}


<div class="container">
  <div class="row">
  <p></p>
    <!-- sidebar -->
    
    <!-- content -->
    <div class="col-md-8">
      <div class="page-header">
      {% if data['edit'] %}
        <h1><i class="fa fa-cogs fa-1x"></i> Manage Reaction</h1>
      {% else %}
        <h1><i class="fa fa-cogs fa-1x"></i> Add Reaction</h1>
      {% endif %}
      </div>
      {% if data['error'] %}
      <p class="alert alert-danger">{{ data['msg'] }}</p>
      {% elif data['msg'] and data['error'] == False %}
      <p class="alert alert-success">{{ data['msg'] }}</p>
      {% endif %}
      {% if form.errors %}
      {% for field, error in form.errors.items() %}
      {% for msg in error %}
      <p class="alert alert-danger">{{msg}}</p>
      {% endfor %}
      {% endfor %}
      {% endif %}

        <div class="panel panel-primary">
          <div class="panel-heading">
          <div class="panel-title">
            Heroku: Create One-Off Dyno
          </div>
          </div>
          <div class="panel-body">
            <form action="{{ data['url'] }}" method="post" name="reaction-form" target="_self" class="form-horizontal" role="form">
            {{ form.csrf_token }}

            {% include 'reactions/base.html' %}
            {% include 'reactions/callon.html' %}

            <hr>
               <div class="form-group">
                <label for="API Key" class="col-sm-4 control-label">API Key</label>
            <div class="col-sm-8">
              <div class="input-group">
              <span class="input-group-btn">
                <button type="button" id="heroku-create-dyno-apikey" class="btn btn-default" rel="popover" data-content="This field should contain your Heroku API Key, you can obtain your key from the Heroku Dashbaord. This shouldbe the non-base64 encoded key, we will encode this key later." title="Heroku API Key"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.apikey(class_="form-control", value=data['reaction']['data']['apikey']) }}
              {% else %}
              {{ form.apikey(class_="form-control", placeholder="Heroku API Key") }}
              {% endif %}
            </div>
            </div>
              </div>  

                <div class="form-group">
                <label for="App Name" class="col-sm-4 control-label">Application Name</label>
            <div class="col-sm-8">
              <div class="input-group">
              <span class="input-group-btn">
                <button type="button" id="heroku-create-dyno-appname" class="btn btn-default" rel="popover" data-content="This field should contain your Heroku Application Name. This is a required field for Heroku's API, if you wish to reaction multiple applications it will require additional monitors." title="Heroku Application Name"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.appname(class_="form-control", value=data['reaction']['data']['appname']) }}
              {% else %}
              {{ form.appname(class_="form-control", placeholder="Application Name") }}
              {% endif %}
            </div>
            </div>
              </div>  

                <div class="form-group">
                <label for="Command" class="col-sm-4 control-label">Command to Run</label>
            <div class="col-sm-8">
              <div class="input-group">
              <span class="input-group-btn">
                <button type="button" id="heroku-create-dyno-cmd" class="btn btn-default" rel="popover" data-content="This field should contain the command you want the Heroku Dyno to execute. This is not the name of a command in Procfile but rather a command such as /bin/bash." title="Command to Run"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.cmd(class_="form-control", value=data['reaction']['data']['cmd']) }}
              {% else %}
              {{ form.cmd(class_="form-control", placeholder="/bin/bash") }}
              {% endif %}
            </div>
            </div>
              </div>  

                <div class="form-group">
                <label for="Attach" class="col-sm-4 control-label">Attach Dyno</label>
            <div class="col-sm-8">
              <div class="input-group">
              <span class="input-group-btn">
                <button type="button" id="heroku-create-dyno-attach" class="btn btn-default" rel="popover" data-content="This field determines whether to stream output or not" title="Attach Dyno"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.attach(class_="form-control", value=data['reaction']['data']['attach']) }}
              {% else %}
              {{ form.attach(class_="select", placeholder="Select Value") }}
              {% endif %}
            </div>
            </div>
              </div>  

                <div class="form-group">
                <label for="Size" class="col-sm-4 control-label">Dyno Size</label>
            <div class="col-sm-8">
              <div class="input-group">
              <span class="input-group-btn">
                <button type="button" id="heroku-create-dyno-size" class="btn btn-default" rel="popover" data-content="You can specify the size of the one off Dyno, currently Heroku supports 1X, 2X, and PX sizes." title="Dyno Size"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.size(class_="form-control", value=data['reaction']['data']['size']) }}
              {% else %}
              {{ form.size(class_="select", placeholder="Select Value") }}
              {% endif %}
            </div>
            </div>
              </div>  



                <p></p>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
    </div>
  </div> <!-- row -->
</div> <!-- container -->

{% include 'dash-footer.html' %}
