{% include 'base-header.html' %}


<div class="container">
  <div class="row">
  <p></p>
    <!-- sidebar -->
    {% include 'sidebar.html' %}
    <!-- content -->
    <div class="col-md-8">
      <div class="page-header">
      {% if data['edit'] %}
        <h1><i class="fa fa-cogs fa-1x"></i> Manage Reaction</h1>
      {% else %}
        <h1><i class="fa fa-cogs fa-1x"></i> Add Reaction</h1>
      {% endif %}
      </div>
      {% if data['error'] %}
      <p class="alert alert-danger">{{ data['msg'] }}</p>
      {% elif data['msg'] and data['error'] == False %}
      <p class="alert alert-success">{{ data['msg'] }}</p>
      {% endif %}
      {% if form.errors %}
      {% for field, error in form.errors.items() %}
      {% for msg in error %}
      <p class="alert alert-danger">{{msg}}</p>
      {% endfor %}
      {% endfor %}
      {% endif %}

        <div class="panel panel-primary">
          <div class="panel-heading">
          <div class="panel-title">
            PagerDuty: Notification Trigger
          </div>
          </div>
          <div class="panel-body">
            <form action="{{ data['url'] }}" method="post" name="reaction-form" target="_self" class="form-horizontal" role="form">
            {{ form.csrf_token }}

            {% include 'reactions/base.html' %}
            {% include 'reactions/callon.html' %}

            <hr>

	      <div class="form-group">
		<label for="Subdomain" class="col-sm-4 control-label">Subdomain</label>
	      <div class="col-sm-8">
	      <div class="input-group">
		<span class="input-group-btn">
		<button type="button" id="subdomain" class="btn btn-default" rel="popover" data-content="This field should contain your PagerDuty Subdomain." title="Subdomain"><i class="fa fa-question"></i></button>
		</span>
		{% if data['edit'] %}
		{{ form.aws_access_key(class_="form-control", value=data['reaction']['data']['subdomain']) }}
		{% else %}
		{{ form.aws_access_key(class_="form-control", placeholder="Subdomain") }}
		{% endif %}
	      </div>
	      </div>
	      </div>


	      <div class="form-group">
		<label for="API Key" class="col-sm-4 control-label">API Key</label>
	      <div class="col-sm-8">
	      <div class="input-group">
		<span class="input-group-btn">
		<button type="button" id="api-key" class="btn btn-default" rel="popover" data-content="This field should contain your PagerDuty API Key" title="API Key"><i class="fa fa-question"></i></button>
		</span>
		{% if data['edit'] %}
		{{ form.aws_access_key(class_="form-control", value=data['reaction']['data']['api_key']) }}
		{% else %}
		{{ form.aws_access_key(class_="form-control", placeholder="API Key") }}
		{% endif %}
	      </div>
	      </div>
	      </div>
	      

	      
                <div class="form-group">
                <label for="Service Key" class="col-sm-4 control-label">Service Key</label>
            <div class="col-sm-8">
              <div class="input-group">
              <span class="input-group-btn">
                <button type="button" id="service-key" class="btn btn-default" rel="popover" data-content="This field should contain your PagerDuty Service Key." title="Service Key"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.aws_secret_key(class_="form-control", value=data['reaction']['data']['service_key']) }}
              {% else %}
              {{ form.aws_secret_key(class_="form-control", placeholder="Service Key") }}
              {% endif %}
              </div>  
            </div>
              </div>  

                <div class="form-group">
                <label for="Incident Key" class="col-sm-4 control-label">Incident Key</label>
            <div class="col-sm-8">
              <div class="input-group">
              <span class="input-group-btn">
                <button type="button" id="incident-key" class="btn btn-default" rel="popover" data-content="This field should contain your Incident Key. If empty, PagerDuty will automatically generate a new incident key for each reaction trigger" title="Incident Key"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.aws_secret_key(class_="form-control", value=data['reaction']['data']['incident_key']) }}
              {% else %}
              {{ form.aws_secret_key(class_="form-control", placeholder="Incident Key") }}
              {% endif %}
              </div>  
            </div>
              </div>  
                	      


                <div class="form-group">
                <label for="Description" class="col-sm-4 control-label">Description</label>
            <div class="col-sm-8">
              <div class="input-group">
              <span class="input-group-btn">
                <button type="button" id="description" class="btn btn-default" rel="popover" data-content="This field should contain the description of your trigger event." title="Description"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.aws_secret_key(class_="form-control", value=data['reaction']['data']['description']) }}
              {% else %}
              {{ form.aws_secret_key(class_="form-control", placeholder="Description") }}
              {% endif %}
              </div>  
            </div>
              </div>  


                <div class="form-group">
                <label for="Details" class="col-sm-4 control-label">Details</label>
            <div class="col-sm-8">
              <div class="input-group">
              <span class="input-group-btn">
                <button type="button" id="details" class="btn btn-default" rel="popover" data-content="This field should contain the details of your trigger event. JSON format is supported" title="Details"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.aws_secret_key(class_="form-control", value=data['reaction']['data']['details']) }}
              {% else %}
              {{ form.aws_secret_key(class_="form-control", placeholder="Details") }}
              {% endif %}
              </div>  
            </div>
              </div>  
	      
	      
                <p></p>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      <div class="panel-group" id="accordion">
    {% include 'reactions/docs/pagerduty-notification-details.html' %}

      </div>
    </div>
  </div> <!-- row -->
</div> <!-- container -->

{% include 'dash-footer.html' %}
