{% include 'base-header.html' %}


<div class="container">
  <div class="row">
  <p></p>
    <!-- sidebar -->
    
    <!-- content -->
    <div class="col-md-8">
      <div class="page-header">
      {% if data['edit'] %}
        <h1><i class="fa fa-flask fa-1x"></i> Manage Reaction</h1>
      {% else %}
        <h1><i class="fa fa-flask fa-1x"></i> Add Reaction</h1>
      {% endif %}
      </div>
      {% if data['error'] %}
      <p class="alert alert-danger">{{ data['msg'] }}</p>
      {% elif data['msg'] and data['error'] == False %}
      <p class="alert alert-success">{{ data['msg'] }}</p>
      {% endif %}
      {% if form.errors %}
      {% for field, error in form.errors.items() %}
      {% for msg in error %}
      <p class="alert alert-danger">{{msg}}</p>
      {% endfor %}
      {% endfor %}
      {% endif %}

        <div class="panel panel-primary">
          <div class="panel-heading">
          <div class="panel-title">
            Rackspace: Power Cycle a Cloud Server
          </div>
          </div>
          <div class="panel-body">
            <form action="{{ data['url'] }}" method="post" name="reaction-form" target="_self" class="form-horizontal" role="form">
            {{ form.csrf_token }}

            {% include 'reactions/base.html' %}
            {% include 'reactions/callon.html' %}

            <hr>


                <div class="form-group">
                <label for="Username" class="col-sm-4 control-label">Username</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-btn">
                <button type="button" id="rackspace-powercycle-username" class="btn btn-default" rel="popover" data-content="Enter your Rackspace username. Required for API Authentication." title="Rackspace Username"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.username(class_="form-control", value=data['reaction']['data']['username']) }}
              {% else %}
              {{ form.username(class_="form-control", placeholder="Username") }}
              {% endif %}
            </div>
            </div>
              </div>  
                

                <div class="form-group">
                <label for="API Key" class="col-sm-4 control-label">API Key</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-btn">
                <button type="button" id="rackspace-powercycle-apikey" class="btn btn-default" rel="popover" data-content="The Rackspace API key can be found in your Account Settings menu. This field is required for API Authentication" title="Rackspace API Key"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.apikey(class_="form-control", value=data['reaction']['data']['apikey']) }}
              {% else %}
              {{ form.apikey(class_="form-control", placeholder="API Key") }}
              {% endif %}
            </div>
            </div>
              </div>  
                
                <div class="form-group">
                <label for="Server ID" class="col-sm-4 control-label">Server ID</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-btn">
                <button type="button" id="rackspace-powercycle-serverid" class="btn btn-default" rel="popover" data-content="The Rackspace Server ID can be found on the Server Details page." title="Cloud Server ID"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.serverid(class_="form-control", value=data['reaction']['data']['serverid']) }}
              {% else %}
              {{ form.serverid(class_="form-control", placeholder="Server ID") }}
              {% endif %}
            </div>
            </div>
              </div>  

                <div class="form-group">
                <label for="Region" class="col-sm-4 control-label">Region</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-btn">
                <button type="button" id="rackspace-powercycle-region" class="btn btn-default" rel="popover" data-content="The Rackspace Region can be found on the Server Details page." title="Cloud Server Region"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.region(class_="select", value=data['reaction']['data']['region']) }}
              {% else %}
              {{ form.region(class_="select", placeholder="Region") }}
              {% endif %}
            </div>
            </div>
              </div>  

                <div class="form-group">
                <label for="Server Type" class="col-sm-4 control-label">Server Type</label>
            <div class="col-sm-8">
              <div class="input-group">
                <span class="input-group-btn">
                <button type="button" id="rackspace-powercycle-resourcetype" class="btn btn-default" rel="popover" data-content="The Server Type can be found on the Server Details page. Most newer servers are Next Generation Cloud Servers" title="Cloud Server Region"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.resource_type(class_="select", value=data['reaction']['data']['resource_type']) }}
              {% else %}
              {{ form.resource_type(class_="select", placeholder="Server Type") }}
              {% endif %}
            </div>
            </div>
              </div>  

                <p></p>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
    </div>
  </div> <!-- row -->
</div> <!-- container -->

{% include 'dash-footer.html' %}
