      <!-- Start Row 45 -->
      <div class="row">
        <div class="col-md-4">
          <!-- Start Health Check -->
          <div class="well">
            <center><a href="" data-target=".cr-react-cloudflare-modal-lg" data-toggle="modal"><img src="/static/img/buttons/cloudflare-150.png" border=0 class="img-responsive"></a></center>
            <h4>CloudFlare</h4>
            <p>Perform DNS Failover for CloudFlare domains</p>
          </div>
          <!-- End Health Check 8 lines -->
        </div>

        <div class="col-md-4">
          <!-- Start Health Check -->
          <div class="well">
            <center><a href="" data-target=".cr-react-heroku-modal-lg" data-toggle="modal"><img src="/static/img/buttons/heroku-150.png" border=0 class="img-responsive"></a></center>
            <h4>Heroku</h4>
            <p>Perform actions on applications hosted by Heroku</p>
          </div>
          <!-- End Health Check 8 lines -->
        </div>

        <div class="col-md-4">
          <!-- Start Health Check -->
          <div class="well">
            <center><a href="" data-target=".cr-react-commando-modal-lg" data-toggle="modal"><img src="/static/img/buttons/commando-150.png" border=0 class="img-responsive"></a></center>
            <h4>Commando</h4>
            <p>Execute commands and scripts across groups of servers.</p>
          </div>
          <!-- End Health Check 8 lines -->
        </div>

      </div>
      <div class="row">

        <div class="col-md-4">
          <!-- Start Health Check -->
          <div class="well">
            <center><a href="" data-target=".cr-react-digitalocean-modal-lg" data-toggle="modal"><img src="/static/img/buttons/digitalocean-150.png" border=0 class="img-responsive"></a></center>
            <h4>DigitalOcean</h4>
            <p>Perform actions on cloud servers hosted by DigitalOcean.</p>
          </div>
          <!-- End Health Check 8 lines -->
        </div>


        <div class="col-md-4">
          <!-- Start Health Check -->
          <div class="well">
            <center><a href="" data-target=".cr-react-aws-modal-lg" data-toggle="modal"><img src="/static/img/buttons/aws-150.png" border=0 class="img-responsive"></a></center>
            <h4>Amazon Web Services</h4>
            <p>Perform actions on cloud servers hosted by AWS.</p>
          </div>
          <!-- End Health Check 8 lines -->
        </div>

        <div class="col-md-4">
          <!-- Start Health Check -->
          <div class="well">
            <center><a href="" data-target=".cr-react-rackspace-modal-lg" data-toggle="modal"><img src="/static/img/buttons/rackspace-150.png" border=0 class="img-responsive"></a></center>
            <h4>Rackspace</h4>
            <p>Perform actions on cloud servers hosted by Rackspace.</p>
          </div>
          <!-- End Health Check 8 lines -->
        </div>
      </div>
      <div class="row">

        <div class="col-md-4">
          <!-- Start Health Check -->
          <div class="well">
            <center><a href="" data-target=".cr-react-saltstack-modal-lg" data-toggle="modal"><img src="/static/img/buttons/saltstack-150.png" border=0 class="img-responsive"></a></center>
            <h4>Saltstack</h4>
            <p>Run commands, restart services and more with Saltstack .</p>
          </div>
          <!-- End Health Check 8 lines -->
        </div>

        <div class="col-md-4">
          <!-- Start Health Check -->
          <div class="well">
            <center><a href="" data-target=".cr-react-notifications-modal-lg" data-toggle="modal"><img src="/static/img/buttons/email-150.png" border=0 class="img-responsive"></a></center>
            <h4>Notifications</h4>
            <p>Send notifications with these notification services.</p>
          </div>
          <!-- End Health Check 8 lines -->
        </div>


        <div class="col-md-4">
          <!-- Start Health Check -->
          <div class="well">
            <center><a href="" data-target=".cr-react-statistics-modal-lg" data-toggle="modal"><img src="/static/img/buttons/graph-150.png" border=0 class="img-responsive"></a></center>
            <h4>Statistics</h4>
            <p>Integrate with cloud based statistic services such as StatHat.</p>
          </div>
          <!-- End Health Check 8 lines -->
        </div>
          

    </div>

<div class="modal fade cr-react-cloudflare-modal-lg" tabindex="-1" role="dialog" aria-labelledby="Modal" aria=hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-close fa-1x"></i></span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ModalLabel">CloudFlare Reactions</h4>
      </div>
      <div class="modal-body">
        <!-- Begin Modal Body -->
        <div class="row">
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/cloudflare-150.png" class="img-responsive"></center>
            <h4>Remove an IP <small>CloudFlare DNS</small></h4>
            <p>Removes a specified IP from via CloudFlare's DNS.</p>
            <a href="/dashboard/reactions/cloudflare-ip-remove" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/cloudflare-150.png" class="img-responsive"></center>
            <h4>Replace an IP <small>CloudFlare DNS</small></h4>
            <p>Replaces a specified IP with another in CloudFlare's DNS.</p>
            <a href="/dashboard/reactions/cloudflare-ip-replace" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
        </div>
        <!-- End Modal Body --> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Start Modal -->
<div class="modal fade cr-react-notifications-modal-lg" tabindex="-1" role="dialog" aria-labelledby="Modal" aria=hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-close fa-1x"></i></span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ModalLabel">Notification Reactions</h4>
      </div>
      <div class="modal-body">
        <!-- Begin Modal Body -->
        <div class="row">
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/email-150.png" class="img-responsive"></center>
            <h4>Email Notification</h4>
            <p>Send an email notification to any specified email address.</p>
            <a href="/dashboard/reactions/enotify" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/nexmo-150.png" class="img-responsive"></center>
            <h4>Nexmo SMS Notification</h4>
            <p>Send an SMS notification to any specified address using your Nexmo account.</p>
            <a href="/dashboard/reactions/nexmo-sms-notification" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/twilio-150.png" class="img-responsive"></center>
            <h4>Twilio SMS Notification</h4>
            <p>Send an SMS notification to any specified address using your Twilio account.</p>
            <a href="/dashboard/reactions/twilio-sms-notification" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
        </div>
        <!-- End Modal Body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Start Modal -->
<div class="modal fade cr-react-heroku-modal-lg" tabindex="-1" role="dialog" aria-labelledby="HerokuModal" aria=hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-close fa-1x"></i></span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ModalLabel">Heroku Monitors</h4>
      </div>
      <div class="modal-body">
        <!-- Begin Modal Body -->
        <div class="row">
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/heroku-150.png" class="img-responsive"></center>
            <h4>Scale Out<small> via Heroku</small></h4>
            <p>Allows you to automatically scale out Heroku Dyno's</p>
            <a href="/dashboard/reactions/heroku-scale-out" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/heroku-150.png" class="img-responsive"></center>
            <h4>Scale Up<small> via Heroku</small></h4>
            <p>Allows you to automatically scale up Heroku Dyno's (increase size from 1X to 2X etc.)</p>
            <a href="/dashboard/reactions/heroku-scale-up" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/heroku-150.png" class="img-responsive"></center>
            <h4>Restart Single Dyno<small> via Heroku</small></h4>
            <p>Allows you to restart a single Heroku Dyno</p>
            <a href="/dashboard/reactions/heroku-restart-dyno" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/heroku-150.png" class="img-responsive"></center>
            <h4>Scale In<small> via Heroku</small></h4>
            <p>Allows you to automatically scale in Heroku Dyno's</p>
            <a href="/dashboard/reactions/heroku-scale-in" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/heroku-150.png" class="img-responsive"></center>
            <h4>Scale Down<small> via Heroku</small></h4>
            <p>Allows you to automatically scale down Heroku Dyno's (decrease size from 2X to 1X etc.)</p>
            <a href="/dashboard/reactions/heroku-scale-down" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/heroku-150.png" class="img-responsive"></center>
            <h4>Restart All Dynos<small> via Heroku</small></h4>
            <p>Allows you to restart all Heroku Dynos</p>
            <a href="/dashboard/reactions/heroku-restart-all-dynos" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/heroku-150.png" class="img-responsive"></center>
            <h4>Rollback Release<small> via Heroku</small></h4>
            <p>Allows you to Rollback your code release on Heroku applications</p>
            <a href="/dashboard/reactions/heroku-rollback-release" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/heroku-150.png" class="img-responsive"></center>
            <h4>Create One-Off Dyno<small> via Heroku</small></h4>
            <p>Allows you to create a one off Heroku Dyno</p>
            <a href="/dashboard/reactions/heroku-create-dyno" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
        </div>
        <!-- End Modal Body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Start Modal -->
<div class="modal fade cr-react-statistics-modal-lg" tabindex="-1" role="dialog" aria-labelledby="Modal" aria=hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-close fa-1x"></i></span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ModalLabel">Statistic Services Reactions</h4>
      </div>
      <div class="modal-body">
        <!-- Begin Modal Body -->
        <div class="row">
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/stathat-150.png" class="img-responsive"></center>
            <h4>StatHat Statistics</h4>
            <p>Uses the StatHat API to track custom statistics.</p>
            <a href="/dashboard/reactions/stathat" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
        </div>
        <!-- End Modal Body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Start Modal -->
<div class="modal fade cr-react-saltstack-modal-lg" tabindex="-1" role="dialog" aria-labelledby="PapertrailModal" aria=hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-close fa-1x"></i></span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ModalLabel">Saltstack Reactions</h4>
      </div>
      <div class="modal-body">
        <!-- Begin Modal Body -->
        <div class="row">
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/saltstack-150.png" class="img-responsive"></center>
            <h4>Manage Services<small> via Saltstack</small></h4>
            <p>Allows you to reload, restart, start and stop services using Saltstack and salt-api.</p>
            <a href="/dashboard/reactions/saltstack-services" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/saltstack-150.png" class="img-responsive"></center>
            <h4>Manage Minion Keys<small> via Saltstack</small></h4>
            <p>Allows you to accepts, delete or reject minion keys using Saltstack's salt-api.</p>
            <a href="/dashboard/reactions/saltstack-keys" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/saltstack-150.png" class="img-responsive"></center>
            <h4>Execute a Command<small> via Saltstack</small></h4>
            <p>Allows you to run an arbitrary command on any Saltstack minions with salt-api.</p>
            <a href="/dashboard/reactions/saltstack-cmdrun" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/saltstack-150.png" class="img-responsive"></center>
            <h4>Highstate<small> via Saltstack</small></h4>
            <p>Allows you to initiate a Saltstack highstate via salt-api.</p>
            <a href="/dashboard/reactions/saltstack-highstate" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/saltstack-150.png" class="img-responsive"></center>
            <h4>Run a Script<small> via Saltstack</small></h4>
            <p>Allows you to run a script from remote sources on any Saltstack minion/s with salt-api.</p>
            <a href="/dashboard/reactions/saltstack-cmdscript" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/saltstack-150.png" class="img-responsive"></center>
            <h4>Execute a Module<small> via Saltstack</small></h4>
            <p>Allows you to run any Saltstack module with salt-api.</p>
            <a href="/dashboard/reactions/saltstack-generic" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
        </div>
        <!-- End Modal Body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Start Modal -->
<div class="modal fade cr-react-digitalocean-modal-lg" tabindex="-1" role="dialog" aria-labelledby="Modal" aria=hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-close fa-1x"></i></span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ModalLabel">DigitalOcean Reactions</h4>
      </div>
      <div class="modal-body">
        <!-- Begin Modal Body -->
        <div class="row">
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/digitalocean-150.png" class="img-responsive"></center>
            <h4>Power Cycle Droplet<small> DigitalOcean</small></h4>
            <p>Allows you to power cycle a DigitalOcean Cloud Server</p>
            <a href="/dashboard/reactions/digitalocean-powercycle" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/digitalocean-150.png" class="img-responsive"></center>
            <h4>Power On Droplet<small> DigitalOcean</small></h4>
            <p>Allows you to power on a DigitalOcean Cloud Server</p>
            <a href="/dashboard/reactions/digitalocean-poweron" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/digitalocean-150.png" class="img-responsive"></center>
            <h4>Snapshot Droplet<small> DigitalOcean</small></h4>
            <p>Allows you to snapshot a DigitalOcean Cloud Server</p>
            <a href="/dashboard/reactions/digitalocean-snapshot" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/digitalocean-150.png" class="img-responsive"></center>
            <h4>Reboot Droplet<small> DigitalOcean</small></h4>
            <p>Allows you to reboot a DigitalOcean Cloud Server</p>
            <a href="/dashboard/reactions/digitalocean-reboot" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/digitalocean-150.png" class="img-responsive"></center>
            <h4>Power Off Droplet<small> DigitalOcean</small></h4>
            <p>Allows you to power off a DigitalOcean Cloud Server</p>
            <a href="/dashboard/reactions/digitalocean-poweroff" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/digitalocean-150.png" class="img-responsive"></center>
            <h4>Shutdown Droplet<small> DigitalOcean</small></h4>
            <p>Allows you to shutdown a DigitalOcean Cloud Server</p>
            <a href="/dashboard/reactions/digitalocean-shutdown" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/digitalocean-150.png" class="img-responsive"></center>
            <h4>Create Droplet<small> DigitalOcean</small></h4>
            <p>Allows you to create a new DigitalOcean Cloud Server</p>
            <a href="/dashboard/reactions/digitalocean-new-droplet" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
        </div>
        <!-- End Modal Body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Start Modal -->
<div class="modal fade cr-react-aws-modal-lg" tabindex="-1" role="dialog" aria-labelledby="Modal" aria=hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-close fa-1x"></i></span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ModalLabel">Amazon Web Services Reactions</h4>
      </div>
      <div class="modal-body">
        <!-- Begin Modal Body -->
        <div class="row">
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/aws-150.png" class="img-responsive"></center>
            <h4>Restart Instance<small> via AWS</small></h4>
            <p>Allows you to reboot an AWS Cloud Server</p>
            <a href="/dashboard/reactions/aws-ec2restart" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/aws-150.png" class="img-responsive"></center>
            <h4>Stop Instance<small> via AWS</small></h4>
            <p>Allows you to Stop an AWS Cloud Server</p>
            <a href="/dashboard/reactions/aws-ec2stop" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/aws-150.png" class="img-responsive"></center>
            <h4>Start Instance<small> via AWS</small></h4>
            <p>Allows you to Start an AWS Cloud Server</p>
            <a href="/dashboard/reactions/aws-ec2start" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
        </div>
        <!-- End Modal Body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Start Modal -->
<div class="modal fade cr-react-rackspace-modal-lg" tabindex="-1" role="dialog" aria-labelledby="Modal" aria=hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-close fa-1x"></i></span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ModalLabel">Rackspace Reactions</h4>
      </div>
      <div class="modal-body">
        <!-- Begin Modal Body -->
        <div class="row">
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/rackspace-150.png" class="img-responsive"></center>
            <h4>Reboot Cloud Server<small> via Rackspace</small></h4>
            <p>Allows you to Reboot a Rackspace Cloud Server</p>
            <a href="/dashboard/reactions/rackspace-reboot" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/rackspace-150.png" class="img-responsive"></center>
            <h4>Power Cycle Cloud Server<small> via Rackspace</small></h4>
            <p>Allows you to Power Cycle a Rackspace Cloud Server</p>
            <a href="/dashboard/reactions/rackspace-powercycle" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
        </div>
        <!-- End Modal Body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Start Modal -->
<div class="modal fade cr-react-commando-modal-lg" tabindex="-1" role="dialog" aria-labelledby="Modal" aria=hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-close fa-1x"></i></span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="ModalLabel">Commando Reactions</h4>
      </div>
      <div class="modal-body">
        <!-- Begin Modal Body -->
        <div class="row">
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/commando-150.png" class="img-responsive"></center>
            <h4>Execute Recipe (Single Server)<small> via Commando</small></h4>
            <p>Execute a Commando recipe on a single server</p>
            <a href="/dashboard/reactions/commando-single" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
          <div class="col-md-4">
          <!-- Begin Reaction -->
          <div class="well">
            <center><img src="/static/img/buttons/commando-150.png" class="img-responsive"></center>
            <h4>Execute Recipe (Group of Servers)<small> via Commando</small></h4>
            <p>Execute a Commando recipe on a group of servers</p>
            <a href="/dashboard/reactions/commando-group" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Reaction -->
          </div>
        </div>
        <!-- End Modal Body -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

