{% include 'base-header.html' %}


<div class="container">
  <div class="row">
  <p></p>
    <!-- sidebar -->
    
    <!-- content -->
    <div class="col-md-8">
      <div class="page-header">
      {% if data['edit'] %}
        <h1><i class="fa fa-cogs fa-1x"></i> Manage Reaction</h1>
      {% else %}
        <h1><i class="fa fa-cogs fa-1x"></i> Add Reaction</h1>
      {% endif %}
      </div>
      {% if data['error'] %}
      <p class="alert alert-danger">{{ data['msg'] }}</p>
      {% elif data['msg'] and data['error'] == False %}
      <p class="alert alert-success">{{ data['msg'] }}</p>
      {% endif %}
      {% if form.errors %}
      {% for field, error in form.errors.items() %}
      {% for msg in error %}
      <p class="alert alert-danger">{{msg}}</p>
      {% endfor %}
      {% endfor %}
      {% endif %}

        <div class="panel panel-primary">
          <div class="panel-heading">
          <div class="panel-title">
            SaltStack: Manage Minion Keys
          </div>
          </div>
          <div class="panel-body">
            <form action="{{ data['url'] }}" method="post" name="saltstack-services" target="_self" class="form-horizontal" role="form">
            {{ form.csrf_token }}

            {% include 'reactions/base.html' %}
            {% include 'reactions/callon.html' %}

            <hr>

                <div class="form-group">
                <label for="URL" class="col-sm-4 control-label">Salt-API URL</label>
            <div class="col-sm-8">
              {% if data['edit'] %}
              {{ form.url(class_="form-control", value=data['reaction']['data']['url']) }}
              {% else %}
              {{ form.url(class_="form-control", placeholder="http://example.com/hook") }}
              {% endif %}
            </div>
              </div>  
                
                
                <div class="form-group">
                <label for="Secret Key" class="col-sm-4 control-label">Secret Key</label>
            <div class="col-sm-8">
              {% if data['edit'] %}
              {{ form.secretkey(class_="form-control", value=data['reaction']['data']['secretkey']) }}
              {% else %}
              {{ form.secretkey(class_="form-control", placeholder="Secret Key") }}
              {% endif %}
            </div>
              </div>  

                <div class="form-group">
                <label for="Function" class="col-sm-4 control-label">Module Function</label>
            <div class="col-sm-8">
              {% if data['edit'] %}
              {{ form.function(class_="select", value=data['reaction']['data']['function']) }}
              {% else %}
              {{ form.function(class_="select", placeholder="Module Function") }}
              {% endif %}
            </div>
              </div>  
                
                <div class="form-group">
                <label for="Minion" class="col-sm-4 control-label">Minion</label>
            <div class="col-sm-8">
              {% if data['edit'] %}
              {{ form.minion(class_="form-control", value=data['reaction']['data']['minion']) }}
              {% else %}
              {{ form.minion(class_="form-control", placeholder="Minion") }}
              {% endif %}
            </div>
              </div>  

              <div class="col-sm-4">
              </div>
              <div class="col-sm-8">
                    <p class="help-block">Minions can be either the full minion name or a hostname <code>glob</code>.</p>
              </div>

                <p></p>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      <div class="panel-group" id="accordion">
    {% include 'reactions/docs/saltstack-keys-details.html' %}

      </div>
    </div>
  </div> <!-- row -->
</div> <!-- container -->

{% include 'dash-footer.html' %}
