{% include 'base-header.html' %}


<div class="container">
    <div class="row">
        <p></p>
        <!-- sidebar -->
        
        <!-- content -->
        <div class="col-md-8">
            <div class="page-header">
                {% if data['edit'] %}
                <h1><i class="fa fa-cogs fa-1x"></i> Manage Reaction</h1>
                {% else %}
                <h1><i class="fa fa-cogs fa-1x"></i> Add Reaction</h1>
                {% endif %}
            </div>
            {% if data['error'] %}
            <p class="alert alert-danger">{{ data['msg'] }}</p>
            {% elif data['msg'] and data['error'] == False %}
            <p class="alert alert-success">{{ data['msg'] }}</p>
            {% endif %}
            {% if form.errors %}
            {% for field, error in form.errors.items() %}
            {% for msg in error %}
            <p class="alert alert-danger">{{msg}}</p>
            {% endfor %}
            {% endfor %}
            {% endif %}

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        Slack Notification
                    </div>
                </div>
                <div class="panel-body">
                    <form action="{{ data['url'] }}" method="post" name="reaction-form" target="_self" class="form-horizontal" role="form">
                        {{ form.csrf_token }}

                        {% include 'reactions/base.html' %}
                        {% include 'reactions/callon.html' %}

                        <hr>


                        <div class="form-group">
                            <label for="Webhook URL" class="col-sm-4 control-label">Webhook URL</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" id="slack-webhook-url" class="btn btn-default" rel="popover" data-content="Slack Webhook URL." title="Webhook URL">
                                            <i class="fa fa-question"></i>
                                        </button>
                                    </span>
                                    {% if data['edit'] %}
                                    {{ form.url(class_="form-control", value=data['reaction']['data']['url']) }}
                                    {% else %}
                                    {{ form.url(class_="form-control", placeholder="Webhook URL") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="Channel" class="col-sm-4 control-label">Channel</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" id="slack-webhook-channel" class="btn btn-default" rel="popover" data-content="#Channel or @Username." title="Slack Channel">
                                            <i class="fa fa-question"></i>
                                        </button>
                                    </span>
                                    {% if data['edit'] %}
                                    {{ form.channel(class_="form-control", value=data['reaction']['data']['channel']) }}
                                    {% else %}
                                    {{ form.channel(class_="form-control", placeholder="Slack #Channel or @Username.") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="Message" class="col-sm-4 control-label">Message</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" id="slack-webhook-text" class="btn btn-default" rel="popover" data-content="Message contents." title="Message body">
                                            <i class="fa fa-question"></i>
                                        </button>
                                    </span>
                                    {% if data['edit'] %}
                                    {{ form.body(class_="form-control", value=data['reaction']['data']['body']) }}
                                    {% else %}
                                    {{ form.body(class_="form-control", placeholder="Monitor is failing.") }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>


                        <p></p>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            </div>
            <div class="panel-group" id="accordion">

            </div>
        </div>
    </div> <!-- row -->
</div> <!-- container -->

{% include 'dash-footer.html' %}
