<div class="well">
<p class="lead">Upgrade to our Pro subscription and get 100 Monitors, 500 Reactions and the ability to run monitors every 2 minutes and every 30 seconds.</p>
<div align="center">
<form action="/dashboard/mod-subscription" method="post" id="subscribe-form" target="_self" class="form-horizontal" role="form">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ data['stripe_pubkey'] }}"
    data-image="/static/img/cloudroutes-logo.png"
    data-panel-label="Upgrade your Subscription"
    data-label="Upgrade your Subscription"
    data-allow-remember-me=false
    data-name="CloudRoutes"
    data-description="Upgrade to Pro ($19.99)"
    data-amount="1999">
  </script>
</form>
</div>
</div>
