{% include 'base-header.html' %}


<div class="container">
  <div class="row">
  <p></p>
    <!-- sidebar -->
    {% include 'sidebar.html' %}
    <!-- content -->
    <div class="col-md-8">
      <div class="page-header">
      {% if data['edit'] %}
        <h1><i class="fa fa-eye-slash fa-1x"></i> Manage Monitor</h1>
      {% else %}
        <h1><i class="fa fa-eye-slash fa-1x"></i> Add Monitor</h1>
      {% endif %}
      </div>
      {% if data['error'] %}
      <p class="alert alert-danger">{{ data['msg'] }}</p>
      {% elif data['msg'] and data['error'] == False %}
      <p class="alert alert-success">{{ data['msg'] }}</p>
      {% endif %}
      {% if form.errors %}
      {% for field, error in form.errors.items() %}
      {% for msg in error %}
      <p class="alert alert-danger">{{msg}}</p>
      {% endfor %}
      {% endfor %}
      {% endif %}
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="panel-title">
            Heroku: Dyno Status (Single Dyno)
            </div>
          </div>
          <div class="panel-body">
            <form action="{{ data['url'] }}" method="post" name="monitor" target="_self" class="form-horizontal" role="form">
            {{ form.csrf_token }}

            {% include 'monitors/base.html' %}
            {% include 'monitors/timer.html' %}
            {% include 'monitors/datacenter.html' %}
            <hr>

                <div class="form-group">
                <label for="API Key" class="col-sm-4 control-label">API Key</label>
            <div class="col-sm-8">
              <div class="input-group">
              <span class="input-group-btn">
                <button type="button" id="heroku-dyno-status-single-apikey" class="btn btn-default" rel="popover" data-content="This field should contain your Heroku API Key, you can obtain your key from the Heroku Dashbaord. This shouldbe the non-base64 encoded key, we will encode this key later." title="Heroku API Key"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.apikey(class_="form-control", value=data['monitor']['data']['apikey']) }}
              {% else %}
              {{ form.apikey(class_="form-control", placeholder="Heroku API Key") }}
              {% endif %}
            </div>
            </div>
              </div>  

                <div class="form-group">
                <label for="App Name" class="col-sm-4 control-label">Application Name</label>
            <div class="col-sm-8">
              <div class="input-group">
              <span class="input-group-btn">
                <button type="button" id="heroku-dyno-status-single-appname" class="btn btn-default" rel="popover" data-content="This field should contain your Heroku Application Name. This is a required field for Heroku's API, if you wish to monitor multiple applications it will require additional monitors." title="Heroku Application Name"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.appname(class_="form-control", value=data['monitor']['data']['appname']) }}
              {% else %}
              {{ form.appname(class_="form-control", placeholder="Application Name") }}
              {% endif %}
            </div>
            </div>
              </div>  

                <div class="form-group">
                <label for="Dyno Name" class="col-sm-4 control-label">Dyno Name</label>
            <div class="col-sm-8">
              <div class="input-group">
              <span class="input-group-btn">
                <button type="button" id="heroku-dyno-status-single-dynoname" class="btn btn-default" rel="popover" data-content="This field should contain the name of the dyno you want to monitor." title="Heroku Dyno Name"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.dynoname(class_="form-control", value=data['monitor']['data']['dynoname']) }}
              {% else %}
              {{ form.dynoname(class_="form-control", placeholder="Dyno Name") }}
              {% endif %}
            </div>
            </div>
              </div>  
            
                <p></p>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>

      <div class="panel-group" id="accordion">
    {% include 'monitors/docs/url-details.html' %}

      </div>

    </div>
  </div> <!-- row -->
</div> <!-- container -->

{% include 'dash-footer.html' %}
