          <div class="well">
          <p class="lead">Need more Monitors? You can add additional monitors by increasing the number below. You can add as many monitors as you want, each monitor will cost an additional  <b>${{ data['subscription_plan']['cost'] }} per {{ data['subscription_plan']['interval'] }}</b>.</p>
            <form action="/dashboard/mod-subscription" method="post" id="subscribe-form" target="_self" class="form-horizontal" role="form">
            {{ form.csrf_token }}
              <div class="row">
              <div class="col-sm-4">
              </div>
              <div class="col-sm-4">
                <div class="form-group">
              <div class="input-group">
              {{ form.add_packs(class_="form-control", value=data['subplans']) }}
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Purchase</button>
              </span>
              </div>
              </div>  
              </div>
              <div class="col-sm-4">
              </div>
              </div>
            </form>
        <p class="text-center">Questions? Contact us at <a href="mailto:support@runbook.io">support@runbook.io</a>.</p>
      </div>
