<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Stuffz -->
      <title>CloudRoutes - Fix DevOps alerts automagically</title>
      <meta name="description" content="Automate incident response and let your Devops team sleep at night">
      <meta name="keywords" content="CloudFlare DNS, CloudFlare, CloudRoutes, DNS Failover, Cloud DNS, High Availability, Static IP, Load Balancing, Domain Name, DNS, Nagios, BMC, Zenoss, Datadog, Cloud Monitoring, Monitoring Automation, Cloud Servers, Cloud Services, Server, App Developers, Server Monitoring">
      <meta property="og:type" content="website"/>
      <meta property="og:title" content="CloudRoutes - Automated Incident Response"/>
      <meta property="og:description" content="Automate incident response and let your Devops team sleep at night"/>
      <meta property="og:site_name" content="CloudRoutes"/>
      <meta property="og:image" content="http://cloudrout.es/static/img/cloudroutes-mini-super.png"/>

    <!-- Bootstrap core CSS -->
   <!-- <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/carousel.css"> 
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css"> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="/static/css/colorwrap.css">
		<link rel="stylesheet" href="/static/css/c3.css">

    <!-- Custom CSS load -->
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/pricing.css">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
{% for item in data['js_header'] %}
    {% include item %}
{% endfor %}

    <!--Shareaholic-->
    <script type="text/javascript">
//<![CDATA[
  (function() {
    var shr = document.createElement('script');
    shr.setAttribute('data-cfasync', 'false');
    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
    shr.type = 'text/javascript'; shr.async = 'true';
    shr.onload = shr.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      var site_id = '6c77a167db67c0b0cee2224db9817bfe';
      try { Shareaholic.init(site_id); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(shr, s);
  })();
//]]>
    </script>

  </head>

<body>
  <div class="navbar navbar-default navbar-static-top navigation-menu {{ 'clear' if data['clean_header'] }}" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="header-logo">
          <img src="/static/img/white-header.png" width="100%" alt="CloudRoutes">
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       </div>
       <div class="navbar-collapse navbar-right collapse">
         <ul class="nav navbar-nav navigation-nav">
          {% if data['loggedin'] == False %}
            <li class="{{ 'active' if data['active'] == 'pricing' }}">
              <a href="/pages/pricing">Pricing</a>
            </li>
            <li class="{{ 'active' if data['active'] == 'features' }}">
              <a href="#">Features</a>
              </li>
            <li class="{{ 'active' if data['active'] == 'help' }}">
              <a href="#">Help</a>
            </li> 
            <li>
              <a href="/login" class="btn btn-action">Sign In</a>
            </li>
            <li>
              <a href="/signup" class="btn btn-action">Sign Up</a>
            </li>
          {% else %}
            <li class="{{ 'active' if data['active'] == 'dashboard' }}">
              <a href="https://dash.cloudrout.es/dashboard">Dashboard</a>
            </li>
            <li>
              <a href="https://dash.cloudrout.es/logout" class="text-danger">Logout</a>
            </li>
          {% endif %}
        </ul>
			</div>
		</div>
  </div>
