<div class="colorwrap">
  <div class="container">
    <div class="row">
    <div class="col-lg-12">
          <h3 class="h-colorwrap">Our Mission</h3>
          <p class="lead">Provide an Open Source framework and service that allows developers, sysadmins, and devops groups to automate issue resolution and eliminate on call rotations.</p>
    </div>
    <hr>
      <div class="col-md-3">
          <h4 class="h4-colorwrap">Navigation</h4>
      <ul class="list-unstyled">
          <li><a href="https://cloudrout.es/">Home</a></li>
          <li><a href="https://assembly.com/cloudroutes/posts">Blog</a></li>
          <li><a href="https://dash.cloudrout.es/dashboard">Dashboard</a></li>
          <li><a href="https://dash.cloudrout.es/login">Login</a></li>
          <li><a href="https://dash.cloudrout.es/signup">Sign up</a></li>
        </ul> 
      </div>
      <div class="col-md-3">
          <h4 class="h4-colorwrap">Follow</h4>
      <ul class="list-unstyled">
          <li><a href="http://feed.cloudrout.es">RSS</a></li>
          <li><a href="https://twitter.com/CloudRoutes">Twitter</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4 class="h4-colorwrap">Contact</h4>
        <p><a href="mailto:support@cloudrout.es">support@cloudrout.es</a></p>
      </div>
      <div class="col-md-3">
                <h4 class="h4-colorwrap">Newsletter</h4>
                <p>Subscribe to our Newsletter to stay up to date on our latest features and announcements.</p>
<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://cloudrout.us3.list-manage1.com/subscribe/post?u=91f9be395ded0611313187a30&amp;id=aad5e2d300" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<div class="mc-field-group">
  <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="your@email.com" id="mce-EMAIL">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_91f9be395ded0611313187a30_aad5e2d300" value=""></div>
  </br>
  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-large btn-primary"></div>
</form>
</div>

<!--End mc_embed_signup-->
      </div>
    </div>
      <div class="row">
      <div class="col-lg-12">
      <hr>
      <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='5483192'></div>
    </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p></p>
      <p class="text-muted credit text-right">CloudRoutes &copy; is a <a href="https://assembly.com/cloudroutes" target="_blank">Assembly</a> project, All Rights Reserved.</p>
    </div>
  </div>
</div>

</body>
</html>
