{% include 'base-header.html' %}
<div class="container">
  <div class="row featurette">
    <div class="faq">

    <div class="question-block">
        <h3>What is <strong>runbook.io</strong>?</h3>
        <p>Runbook is a SaaS application that monitors your servers and performs automated tasks when your monitors fails. Use Runbook to automatically recover from application crashes and unexpected failure without interrupting your service or your well earned sleep! </p>
      </div>

      <div class="question-block">
        <h3>What is a Monitor?</h3>
        <p>A monitor does what it says - monitors your systems to establish whether your applications are running or not. If the monitor fails then a reaction is triggered.</p>
      </div>

      <div class="question-block">
        <h3>What is a Reaction?</h3>
        <p>A monitor will trigger reactions when your application is down. Reactions can be configured to:</p>
        <ul> 
          <li>Perform DNS failover</li>
          <li>Reboot your server</li>
          <li>Rollback your applications release</li>
        </ul>
        <p>and much more! We're adding more functionality all the time and you can help us at <a href="https://assembly.com/runbook">Assembly</a></p>
      </div>

      <div class="question-block">
        <h3>How much does this cost</h3>
        <p>Checkout our <a href='pricing.html'>Pricing page</a></p>
      </div>

      <div class="question-block">
        <h3>What is a Runbook?</h3>
        <p>Runbooks have existed for a very long time; In the original term a Runbook was a physical book used by operations teams as a reference. These books would commonly describe an issue and provide the reader with all of the steps or commands necessary to resolve the issue. Today these physical books have mostly been replaced with team wikis. For the most part these runbooks would be detailed enough to allow operations engineers to resolve common issues with only the issues not covered in the runbook being escalated.</p>
        <p><a href="http://en.wikipedia.org/wiki/Runbook" target="_blank">Read the Wikipedia page</a></p>
      </div>

      <div class="question-block">
        <h3>Is <strong>runbook.io</strong> a Runbook Automation tool?</h3>
        <p>Yes, and No. While Reactions are pretty much an example of runbook automation, traditionally runbook automation for incidents were initiated by a human. We have taken the human out of this process. Our system is designed to detect issues and then initiate a predefined process automatically.</p>
      </div>

      <div class="question-block">
        <h3>Wow, Runbook is cool how can I help?</h3>
        <p>Runbook is an open source project developed on the <a href="https://assembly.com/runbook">Assembly</a> platform. If you have an idea or want to just dive into code you can checkout our <a href="https://assembly.com/runbook">project page</a>.</p>
      </div>

      <div class="question-block">
        <h3>Are you hiring?</h3>
        <p>See Above. We are an open source project on Assembly, which means our service is maintained by those contributing to the project. The cool thing about Assembly is that for every bounty you contribute; you get a piece of the profits every month. So not only are we open source, but we split the profits with all of the contributors.</p>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
