{% include 'base-header.html' %}
<p><strong>What is a Runbook?</strong></p>
<p>Runbooks have existed for a very long time; In the original term a Runbook was a physical book used by operations teams as a reference. These books would commonly describe an issue and provide the reader with all of the steps or commands necessary to resolve the issue. Today these physical books have mostly been replaced with team wikis. For the most part these runbooks would be detailed enough to allow operations engineers to resolve common issues with only the issues not covered in the runbook being escalated.</p>
<p><a href="http://en.wikipedia.org/wiki/Runbook">Read the wikipedia page</a></p>
<p><strong>Is runbook.io a Runbook Automation tool</strong></p>
<p>Yes, and No. While Reactions are pretty much an example of runbook automation, traditionally runbook automation for incidents were initiated by a human. We have taken the human out of this process. Our system is designed to detect issues and then initiate a predefined process automatically.</p>
<p><strong>Wow, Runbook is cool how can I help?</strong></p>
<p>Runbook is an open source project developed on the <a href="https://assembly.com/cloudroutes">Assembly</a> platform. If you have an idea or want to just dive into code you can checkout our <a href="https://assembly.com/cloudroutes">project page</a>.</p>
<p><strong>Are you hiring?</strong></p>
<p>See Above. We are an open source project on Assembly, which means our service is maintained by those contributing to the project. The cool thing about Assembly is that for every bounty you contribute; you get a piece of the profits every month. So not only are we open source, but we split the profits with all of the contributors.</p>
{% include 'footer.html' %}
