{% include 'base-header.html' %}

<!-- HERO HEADER SECTION -->
<div class="hero-section">
  <div class="container">
    <h1 class="hero-vp">
      Automated mitigation of application and server incidents
    </h1>
    <h2 class="hero-explain">
      Solve problems in your sleep
    </h2>

    <a href="/signup" class="btn btn-action hero-call-to-action">Try it for free</a>
   </div>
</div>
<!-- end HERO HEADER SECTION -->

<!-- EXPLAIN SECTION -->
<div class="section explain-section">
  <div class="container">

    <h2 class="subtitle">It's simple as one, two</h2>

    <div class="sub-section left">

      <img src="http://placehold.it/430x300" alt="Monitors"/>
      <div class="description">
        <h3>Monitors</h3>
        <p>
          Monitors are used to check the status of your environment. They can be webhooks that call to the <strong>CloudRoutes</strong> RESTful API, they can be Datadog alerts, they can be ping requests. Or, you can setup our TCP custom port to validate connectivity.
        </p>
        <div class="more">
          <a href="#">See the full list of available Monitors</a>
          <a href="/signup" class="btn btn-action">Sign Up</a>
        </div>
      </div>
      <div class="clearfix"></div>

    </div>

    <hr/>

    <div class="sub-section right">

      <div class="description">
        <h3>Reactions</h3>
        <p>
          Reactions are automated tasks that are called when Monitors fail. It can be anything from starting or restarting servers on AWS, Digital Ocean, or elsewhere, to running a custom script or executing a command. You know, all the first things you try when you get a 4am wake-up call.
        </p>
        <div class="more">
          <a href="#">See the full list of available Reactions</a>
          <a href="/signup" class="btn btn-action">Sign Up</a>
        </div>
      </div>
      <img src="http://placehold.it/430x300" alt="Reactions"/>
      <div class="clearfix"></div>

     </div>

  </div>
</div>
<!-- end EXPLAIN SECTION -->

<!-- DIAGRAM SECTION -->
<div class="section diagram-section">
  <div class="container">
    
    <h2 class="subtitle">The ins and outs:</h2>

    <img src="http://placehold.it/1024x600" class="diagram" width="100%"/>

  </div>
</div>
<!-- end DIAGRAM SECTION -->

<!-- QUOTE SECTION -->
<div class="section quote-section">
  <div class="container">

    <h2 class="subtitle">Don't take our word for it</h2>

    <!-- quote 1 -->
    <div class="quote-block">

      <div class="author-thumb">
        <img src="http://placehold.it/250x250" width="100%"/>
      </div>

      <div class="quote-info">
        <p class="quote-text">
          "It's amazing how many of our servers incidents can be resolved by running a simple script. CloudRoutes has increased our uptime, and our team's sleep time. Now, I just need CloudRoutes for my newborn."
        </p>
        <span class="quote-divisor"></span>
        <h3 class="quote-author">Karen P. Scoggins</h3>
        <h4 class="quote-position">CTO, Wayfar.er</h4>
      </div>
      <div class="clearfix"></div>

    </div>
    <!-- end quote 1 -->

    <hr/>
     
    <!-- quote 2 -->
    <div class="quote-block">

      <div class="author-thumb">
        <img src="http://placehold.it/250x250" width="100%"/>
      </div>

      <div class="quote-info">
        <p class="quote-text">
          "It's amazing how many of our servers incidents can be resolved by running a simple script. CloudRoutes has increased our uptime, and our team's sleep time. Now, I just need CloudRoutes for my newborn."
        </p>
        <span class="quote-divisor"></span>
        <h3 class="quote-author">Connor Gregory</h3>
        <h4 class="quote-position">CEO, Wayfar.er</h4>
      </div>
      <div class="clearfix"></div>

    </div>
    <!-- end quote 2 -->

  </div>

</div>
<!-- end QUOTE SECTION -->

<!-- FOOTER ACTION SECTION -->
<div class="footer-action-section">
  <div class="container">

    <h4>Never again wake up at 4am for a problem that can be solved by a server restart</h4>

    <a href="/signup" class="btn btn-action call-to-action">Get Started Now</a>

    <h5>CloudRoutes is open source and built with <3 on <a href="https://assembly.com/cloudroutes" target="_blank">Assembly</a>.</h5>

  </div>
</div>
<!-- end FOOTER ACTION SECTION -->

<!-- FOOTER -->
<div class="footer">
  <div class="container">

    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Blog</a></li>
    </ul>

  </div>
</div>
<!-- end FOOTER -->
