{% include 'base-header.html' %}

<!-- HERO HEADER SECTION -->
<div class="hero-section">
  <div class="container">
    <h1 class="hero-vp">
      Automated mitigation of application and server incidents
    </h1>
    <h2 class="hero-explain">
      Solve problems in your sleep
    </h2>

    <a href="#" class="btn btn-action hero-call-to-action">Try it for free</a>
   </div>
</div>
<!-- end HERO HEADER SECTION -->

<!-- EXPLAIN SECTION -->
<div class="explain-section">
  <div class="container">

    <h2 class="subtitle">It's simple as one, two</h2>

    <div class="sub-section left">

      <img src="http://placehold.it/430x300" alt="Monitors"/>
      <div class="description">
        <h3>Monitors</h3>
        <p>
          Monitors are used to check the status of your environment. They can be webhooks that call to the <strong>CloudRoutes</strong> RESTful API, they can be Datadog alerts, they can be ping requests. Or, you can setup our TCP custom port to validate connectivity.
        </p>
        <div class="more">
          <a href="#">See the full list of available Monitors</a>
          <a href="#" class="btn btn-action">Sign Up</a>
        </div>
      </div>
      <div class="clearfix"></div>

    </div>

    <hr/>

    <div class="sub-section right">

      <div class="description">
        <h3>Reactions</h3>
        <p>
          Reactions are automated tasks that are called when Monitors fail. It can be anything from starting or restarting servers on AWS, Digital Ocean, or elsewhere, to running a custom script or executing a command. You know, all the first things you try when you get a 4am wake-up call.
        </p>
        <div class="more">
          <a href="#">See the full list of available Reactions</a>
          <a href="#" class="btn btn-action">Sign Up</a>
        </div>
      </div>
      <img src="http://placehold.it/430x300" alt="Reactions"/>
      <div class="clearfix"></div>

     </div>

  </div>
</div>
<!-- end EXPLAIN SECTION -->




