{% include 'base-header.html' %}
<div class="container">
  <div class="row featurette">

    <h2>Pricing</h2>

    <p class="lead">Our pricing is simple, with our Pro package you pay only <b>$1 per month</b>, per monitor. There are no minimal purchase requirements and you can add as many monitors to your account as you want. There are no hidden costs or surprises, if you only need 5 monitors then your cost is simply $5 per month.</p>

  </div>
</div>

<div class="pricing-hero">
  <div class="container">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>Pro</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <td><h4>$1 <small>/mo per monitor</small></h4></td>
            </tr>
            <tr>
              <td><h5>Unlimited <small>Monitors</small></h5></td>
            </tr>
            <tr>
              <td><h5>Unlimited <small>Reactions</small></h5></td>
            </tr>
            <tr class="divider">
              <td><h2>Monitor Intervals</h2></td>
            </tr>
            <tr>
              <td>
                <h6 class="green">30 minutes</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6 class="green">5 minutes</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6 class="green">2 minutes</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6 class="green">30 seconds</h6>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Lite</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <td><h4>Free</h4></td>
            </tr>
            <tr>
              <td><h5>2 <small>Monitors</small></h5></td>
            </tr>
            <tr>
              <td><h5>4 <small>Reactions</small></h5></td>
            </tr>
            <tr class="divider">
              <td><h2>Monitor Intervals</h2></td>
            </tr>
            <tr>
              <td>
                <h6 class="green">30 minutes</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6 class="green">5 minutes</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6>2 minutes</h6>
              </td>
            </tr>
            <tr>
              <td>
                <h6>30 seconds</h6>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

</div>

<div class="container">
  <div class="row featurette">

    <p class="pricing-offer">You can save a little each month by signing up for our Annual subscription plan. Our Annual plan subscribers pay only $9 per year, this breaks down to $0.75 per monitor, per month.</p>

  </div>
</div>


{% include 'footer.html' %}
