{% include 'pre-header.html' %}
<p></p>
<div class="container">
<div class="row featurette">
<h1>CloudRoutes Terms of Service ("Agreement")</h1>
<p>This Agreement was last modified on March 20, 2014.</p>

<p>Please read these Terms of Service ("Agreement", "Terms of Service") carefully before using cloudrout.es ("the Site") operated by Plus9 Systems doing business as CloudRoutes ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Site and Service of cloudrout.es.</p>
<p>By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms of Service. Capitalized terms are defined in this Agreement.</p>

<p><strong>Service Levels</strong><br />CloudRoutes will make every effort to provide the highest availability of our beta and production environments. However there is no legal or financial guarantees of our service.</p>

<p><strong>User Responsibility</strong><br />Users of this service have the following responsibilities.</p>

<ul>
<li><b>Password Security</b> - Adhere to good password security practices. CloudRoutes is not responsible for any unauthorized access to user accounts, we will ensure that we will perform our best efforts to combat unauthorized and illegal access to our service</li>
<li><b>Provide Valid User Information</b> - Provide current and valid contact information. Users must provide current and valid contact information, this information will be utilized for security notifications and contact from CloudRoutes. We will not sell or provide your contact information to other entities.</li>
<li><b>Follow all laws and regulations</b> - Follow all local & international laws and regulations. Any illegal or improper usage of our service is subject to immediate termination without notification, such activities include but are not limited to Unauthorized access to other users information, Unauthorized access to administrative functions of CloudRoutes, and Exploitation of bugs or flaws within our service.</li>
<li><b>Not be a bot</b> - Registration of our service must be performed by humans, "bots" or other automated services shall not be used to register for our service unless explicitly authorized by CloudRoutes.</li>
</ul>

<p><strong>Intellectual Property</strong><br />The Site and its original content, features and functionality are owned by CloudRoutes and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.</p>

<p><strong>Termination</strong><br />We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

<p><strong>Cancellation</strong><br />Users may cancel their service at any time. As of this writing our service fees are maintained by Paypal Subscriptions, users are in full control over their subscription through PayPal's systems. If a user chooses to cancel or change their subscription, these changes will be reflected immediately on the users account.</p>

<p><strong>Links To Other Sites</strong><br />Our Site may contain links to third-party sites that are not owned or controlled by CloudRoutes.</p>
<p>CloudRoutes has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.</p>

<p><strong>Governing Law</strong><br />This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of Arizona, United States of America, without giving effect to any principles of conflicts of law.</p>

<p><strong>Changes To This Agreement</strong><br />We reserve the right, at our sole discretion, to modify or replace these Terms of Service by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms of Service.</p>
<p>Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.</p>

<p><strong>Contact Us</strong><br />If you have any questions about this Agreement, please contact us at support@cloudrout.es.</p>
</div>
</div>
{% include 'pre-footer.html' %}
