                <div class="form-group">
                <label for="Datacenter" class="col-sm-4 control-label">Monitor Zone</label>
            <div class="col-sm-8">
              <div class="input-group">
              <span class="input-group-btn">
                <button type="button" id="base-monzone" class="btn btn-default" rel="popover" data-content="Specifies which monitoring zone a monitor should run from. You can select multiple monitoring zones" title="Monitor Zone"><i class="fa fa-question"></i></button>
              </span>
              {% if data['edit'] %}
              {{ form.datacenter(class_="multiselect", value=data['monitor']['data']['datacenter']) }}
              {% else %}
              {{ form.datacenter(class_="multiselect", placeholder="Monitor Zone") }}
              {% endif %}
            </div>
            </div>
              </div>  
