{% include 'base-header.html' %}


<div class="container">
  <div class="row">
  <p></p>
    <!-- sidebar -->
    {% include 'sidebar.html' %}
    <!-- content -->
    <div class="col-md-8">
      <div class="page-header">
        <h1><i class="fa fa-eye-slash fa-1x"></i> Create Monitors</h1>
      </div>

      <div class="row">
        <div class="col-md-6">
          <!-- Start Health Check -->
          <div class="well">
            <center><img src="/static/img/buttons/tcpip-150.png" class="img-responsive"></center>
            <h4>TCP <small>Custom Port</small></h4>
            <p>This monitor connects to a specified address and port to validate connectivity.</p>
            <a href="/dashboard/monitors/tcp-check" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Health Check 8 lines -->
          <!-- Start Health Check -->
          <div class="well">
            <center><img src="/static/img/buttons/http-150.png" class="img-responsive"></center>
            <h4>HTTP/S GET <small>Status Code</small></h4>
            <p>This monitor will perform a HTTP or HTTPS GET request and validate the status code is expected.</p>
            <a href="/dashboard/monitors/http-get-statuscode" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Health Check 8 lines -->
          <!-- Start Health Check -->
          <div class="well">
            <center><img src="/static/img/buttons/ping-150.png" class="img-responsive"></center>
            <h4>Ping <small>ICMP Ping</small></h4>
            <p>This monitor will perform a single ICMP ping request and validate the host responds.</p>
            <a href="/dashboard/monitors/ping" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Health Check 8 lines -->
        </div>
        <div class="col-md-6">
          <!-- Start Health Check -->
          <div class="well">
            <center><img src="/static/img/buttons/api-150.png" class="img-responsive"></center>
            <h4>CloudRoutes API</h4>
            <p>Integrate with outside services using our simple REST API.</p>
            <a href="/dashboard/monitors/cr-api" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Health Check 8 lines -->
          <!-- Start Health Check -->
          <div class="well">
            <center><img src="/static/img/buttons/datadog-150.png" class="img-responsive"></center>
            <h4>Datadog Alerts <small>Webhooks Integration</small></h4>
            <p>Use Datadog's webhook integration and metric alerts to trigger reactions.</p>
            <a href="/dashboard/monitors/datadog-webhook" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Health Check 8 lines -->
          <!-- Start Health Check -->
          <div class="well">
            <center><img src="/static/img/buttons/http-150.png" class="img-responsive"></center>
            <h4>HTTP GET <small>Keyword Search</small></h4>
            <p>This monitor will perform a HTTP or HTTPS GET request and search for the specified text or regular expression.</p>
            <a href="/dashboard/monitors/http-keyword" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Health Check 8 lines -->

          <!-- Start Health Check -->
          <div class="well">
            <center><img src="/static/img/buttons/logentries-150.png" class="img-responsive"></center>
            <h4>Logentries Alerts <small>Webhooks</small></h4>
            <p>Use Logentries Alerts and Tags to trigger CloudRoutes reactions.</p>
            <a href="/dashboard/monitors/logentries-webhook" class="btn btn-primary btn-md btn-block" role="button">Create</a>
          </div>
          <!-- End Health Check 8 lines -->
        </div>
       </div>


    </div> <!-- col-md-8 -->
  </div> <!-- row -->
</div> <!-- container -->

{% include 'dash-footer.html' %}
