{% include 'base-header.html' %}

<div class="container">
  <div class="row">
  <p></p>
    <!-- sidebar -->
    {% if data['status'] != 'signup' %}
    {% include 'sidebar.html' %}
    <!-- content -->
    <div class="col-md-8">
    {% else %}
    <!-- content -->
    <div class="col-md-10">
    {% endif %}

      <div class="page-header">
        <h1><i class="fa fa-refresh fa-1x"></i> Upgrade your subscription</h1>
      </div>
      <div class="row">
      {% if data['error'] %}
      <p class="alert alert-danger">{{ data['msg'] }}</p>
      {% elif data['msg'] and data['error'] == False %}
      <p class="alert alert-success">{{ data['msg'] }}</p>
      {% endif %}
      {% if form.errors %}
      {% for field, error in form.errors.items() %}
      {% for msg in error %}
      <p class="alert alert-danger">{{msg}}</p>
      {% endfor %}
      {% endfor %}
      {% endif %}
        <div class="panel panel-primary">
          <div class="panel-heading">
          <div class="panel-title">
            Current Plan - {{ data['acttype'] }}
          </div>
          </div>
          <table width="100%" border="0" class="table table-striped table-condensed">
            <tr>
              <td><b>Purchased Monitors</b></td><td>{{ data['limit'] }}</td><td><b>Billing Cycle</b></td><td>{%- if "year" in data['subscription_plan']['interval'] -%}Annual{%- elif data['upgraded'] == False -%}None{%- else -%}Monthly{%- endif -%}</td>
            </tr>
            <tr>
              <td><b>Purchased Reactions</b></td><td>{{ data['rlimit'] }}</td><td><b>Subscription Fees</b></td><td>{%- if data['upgraded'] == False -%}Free{%- else -%}${{ '%0.2f' | format(data['cost']|float) }}{%- endif -%}</td>
            </tr>
          </table>
        </div>

        {% if data['upgraded'] %}
          {% include 'forms/addpacks.html' %}
        {% else %}
          {% include 'forms/stripe.html' %}
        {% endif %}
        </div>
      </div>
    </div>
  </div> <!-- row -->
</div> <!-- container -->

{% include 'dash-footer.html' %}
