      {% if data['mons'] %}
       <div class="panel panel-primary">
          <div class="panel-heading">
          <div class="panel-title">
            Runbooks
          </div>
          </div>
          <table width="100%" border="0" class="table table-condensed">
            <tr class="active">
              <td><h5>Runbook Name</h5></td>
              <td><h5>Current Status</h5></td>
              <td><h5>Actions</h5></td>
            </tr>
            {% for cid, monitor in data['monitors']|dictsort(true, 'value') %}
            {%- if "true" in monitor['status'] -%}
            <tr class="success">
            {%- elif "false" in monitor['status'] -%}
            <tr class="danger">
            {%- else -%}
            <tr class="warning">
            {%- endif -%}
              <td><b>{{ monitor['name'] }}</b></td>
              {%- if "true" in monitor['status'] -%}
                  <td><button class="btn btn-success btn-sm"><i class="fa fa-check-circle"></i> {{ monitor['status']|capitalize }}</button></td>
              {%- elif "false" in monitor['status'] -%}
                  <td><button class="btn btn-danger btn-sm"><i class="fa fa-exclamation-triangle"></i> {{ monitor['status']|capitalize }}</button></td>
              {%- else -%}
                  <td><button class="btn btn-default btn-sm"><i class="fa fa-circle"></i> {{ monitor['status']|capitalize }}</button></td>
              {%- endif -%}
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                <li><a href="/dashboard/edit-monitors/{{ monitor['ctype'] }}/{{ cid }}"><i class="fa fa-edit"></i> Edit</a></li>
                <li><a href="/dashboard/delete-checks/{{ cid }}"><i class="fa fa-trash-o"></i> Delete</a></li>
                <li class="divider"></li>
                {%- if "true" in monitor['status'] or "monitored" in monitor['status'] %}
                <li><a href="/dashboard/action-checks/{{ cid }}/false"><i class="fa fa-exclamation-triangle"></i> Mark False</a></li>
                {%- endif %}
                {%- if "false" in monitor['status'] or "monitored" in monitor['status'] %}
                <li><a href="/dashboard/action-checks/{{ cid }}/true"><i class="fa fa-check-circle"></i> Mark True</a></li>
                {%- endif %}
                </ul>
                </div>
              </td>
            </tr>
            <tr class="active">
              <td colspan="3">
              {% if monitor['data']['reactions']|length < 1 %}
                <p class="text-danger">No Reaction defined for this Runbook. <b><a href="/dashboard/reactions" class="text-danger">Create one</a></b>.</p>
              {% else %}
                <p>
                 <samp>monitor <b>{{ monitor['ctype'] }}</b>:<br>
              {% for rid in monitor['data']['reactions'] %}
                &nbsp;&nbsp;&nbsp;&nbsp;if monitor.status is <b>{{ data['reactions'][rid]['data']['call_on']|capitalize }}</b> and monitor.count >= <b>{{ data['reactions'][rid]['trigger'] }}</b>:<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;run reaction <b>{{ data['reactions'][rid]['name'] }}</b> every <b>{{ data['reactions'][rid]['frequency'] }}</b> seconds<br>
              {% endfor %}
                </samp></p>
              {% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}
