{% include 'base-header.html' %}

<div class="container">
  <div class="row">
  <p></p>
    <!-- sidebar -->
    {% include 'sidebar.html' %}
    <!-- content -->
    <div class="col-md-8">
      <div class="page-header">
        <h1><i class="fa fa-sitemap fa-1x"></i> Status</h1>
      </div>

        {% if data['welcome'] %}
          <p class="lead">Getting paged in the middle of the night sucks. To start creating a self healing environment you should first add a few <a href="/dashboard/reactions">Reactions</a> to resolve issues; and a few <a href="/dashboard/monitors">Monitors</a> to trigger when to run them.</p>
          <p class="lead">Then you can rest easy knowing that our system is keeping a watchful eye on your servers and applications, and if we see something wrong we will take care of it.</p>
          <h2>Monitors:</h2>
          <hr>
          {% include 'monitors/monitors.html' %}
          <h2>Reactions:</h2>
          <hr>
          {% include 'reactions/reactions.html' %}
        {% endif %}


        {% if data['mons'] %}
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#tactical" role="tab" data-toggle="tab">Tactical View</a></li>
            <li><a href="#manage" role="tab" data-toggle="tab">Events</a></li>
          </ul>

          <div class="tab-content">
          <!-- Start Tab -->
          <div class="tab-pane active" id="tactical">
              <div class="row">
              <div class="panel panel-primary">
                <div class="panel-heading">
                <div class="panel-title">
                  Overview
                </div>
                </div>
                <div class="panel-body">
                  <div id="chart" align="center"></div>
                </div>
                  <table class="table table-condensed table-striped" width="100%">
                    <tr>
                      <td>False</td><td>{{ data['monstats']['false'] }}</td>
                    </tr>
                    <tr>
                      <td>True</td><td>{{ data['monstats']['true'] }}</td>
                    </tr>
                    <tr>
                      <td>Other</td><td>{{ data['monstats']['unknown'] }}</td>
                    </tr>
                  </table>
              </div>
              {% if data['upgraded'] %}
              {% include 'forms/addpacks.html' %}
              {% else %}
              {% include 'forms/stripe.html' %}
              {% endif %}
        {% include 'member/monitors.html' %}
            </div>
          </div>

          <div class="tab-pane" id="manage">

        {% include 'member/events.html' %}

    </div>
    </div> <!-- Tab Content -->
{% endif %}
        </div>


  </div> <!-- row -->
</div> <!-- container -->


{% include 'dash-footer.html' %}
