  <div class="row">
  <p></p>
    <!-- content -->
    <div class="col-md-8">
      {% if data['error'] %}
      <p class="alert alert-danger">{{ data['msg'] }}</p>
      {% elif data['msg'] and data['error'] == False %}
      <p class="alert alert-success">{{ data['msg'] }}</p>
      {% endif %}
      {% if form.errors %}
      {% for field, error in form.errors.items() %}
      {% for msg in error %}
      <p class="alert alert-danger">{{msg}}</p>
      {% endfor %}
      {% endfor %}
      {% endif %}

        <div class="panel panel-primary">
          <div class="panel-heading">
            Upgrade to Pro
          </div>
          <div class="panel-body">
{% if data['acttype'] == "Lite" %}
            <form action="{{ data['url'] }}" method="post" id="subscribe-form" target="_self" class="form-horizontal" role="form">
              {% include 'forms/stripe.html' %}
            </form>
{% else %}
            <form action="{{ data['url'] }}" method="post" id="subscribe-form" target="_self" class="form-horizontal" role="form">
            {{ form.csrf_token }}
                <div class="form-group">
                <label for="Additional Monitor Packs" class="col-sm-4 control-label">Additional Monitor Packs</label>
            <div class="col-sm-8">
              <div class="input-group">
              <span class="input-group-btn">
                <button type="button" id="subscribe-addpacks" class="btn btn-default" rel="popover" data-content="Specify the number of Additional Monitor packs you would like to add to your account. Every Monitor pack includes 100 monitors at an additional $19.99 per month." title="Additional Monitor Packs"><i class="fa fa-question"></i></button>
              </span>
              {{ form.add_packs(class_="form-control", placeholder="Additional Monitor Packs") }}
              </div>
            </div>
              </div>  

                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
{% endif %}
          </div>
        </div>
    </div>
