{% include 'base-header.html' %}
<div class="container">
  <div class="row featurette">
    <div class="faq">

      <div class="question-block">
        <h3>What is <strong>runbook.io</strong>?</h3>
        <p>Runbook is a SaaS application that monitors your servers and performs automated tasks when your monitors fails. Use Runbook to automatically recover from application crashes and unexpected failure without interrupting your service or your well earned sleep! </p>
      </div>

      <div class="question-block">
        <h3>What is a Monitor?</h3>
        <p>A monitor does what it says, it monitors your systems to establish whether your applications are running or not. As soon as your application doesn"t respond, a Reaction is triggered.
      </div>

      <div class="question-block">
        <h3>What is a Reaction?</h3>
        <p>A Reaction is an event triggered by a Monitor when your application is down. Reactions can be configured to perform any action needed to resume your service:</p>
        <ul>
          <li>Perform DNS fail-over</li>
          <li>Reboot your server</li>
          <li>Rollback your applications release</li>
        </ul>
        <p>and much more! We"re adding more functionality all the time and you can help us at <a href="https://github.com/runbook">GitHub</a></p>
      </div>

      <div class="question-block">
        <h3>What services do you support?</h3>
        <p>We support several cloud providers, like AWS, DigitalOcean, Heroku or Rackspace. In addition to these cloud popular services, we also support DevOps automated tools like SaltStack or Commando. And because plain old technology is sometimes needed, we also offer notifications by mail.</p>
        <p>Checkout our <a href="/pages/reactions/">reactions page</a> to see the full list. We're always interested by feedback about products you want to see supported. <a href="mailto:support@runbook.io?subject=Support+a+new+product+in+Reactions">Let us know</a> if you need a new service integrated with Runbook.</p>
      </div>

      <div class="question-block">
        <h3>How much does Runbook cost?</h3>
        <p>Checkout our <a href="/pages/pricing">pricing page</a>. We offer a free plan with two runbooks and four reactions. Need more? Our paid tiers start at $4.99/runbook/month.</p>
      </div>

      <div class="question-block">
        <h3>What is a Runbook?</h3>
        <p>Runbooks have existed for a very long time; In the original term a Runbook was a physical book used by operations teams as a reference. These books would commonly describe an issue and provide the reader with all of the steps or commands necessary to resolve the issue. Today these physical books have mostly been replaced with team wikis. For the most part these runbooks would be detailed enough to allow operations engineers to resolve common issues with only the issues not covered in the runbook being escalated.</p>
        <p><a href="http://en.wikipedia.org/wiki/Runbook" target="_blank">Read the Wikipedia page</a></p>
      </div>

      <div class="question-block">
        <h3>Is <strong>runbook.io</strong> a Runbook Automation tool?</h3>
        <p>Yes and no. While Reactions are pretty much an example of runbook automation, traditionally runbook automation for incidents were initiated by a human. We have taken the human out of this process. Our system is designed to detect issues and then initiate a predefined process automatically.</p>
      </div>

      <div class="question-block">
        <h3>Wow, Runbook is cool! How can I help?</h3>
        <p>Runbook is an open source project developed on <a href="https://github.com/runbook">GitHub</a>. If you have an idea or want to just dive into code, you can checkout our <a href="https://assembly.com/runbook">changelog</a> on Assembly.</p>
      </div>

      <div class="question-block">
        <h3>Are you hiring?</h3>
        <p>We are in a transition phase moving from an Assembly project to a traditional open source project. Currently, we are not hiring but welcome anyone who want's to contribute to join us at <a href="https://github.com/runbook">GitHub</a>.</p>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}
