{% include 'base-header.html' %}

<div class="container">
  <div class="row">
    <br>
    <!-- content -->
    <div class="col-md-12">
      <div class="page-header">
        <h1><i class="fa fa-flask fa-1x"></i> Available Reactions</h1>
      </div>
      {% include 'public/reaction-modals.html' %}
      <center><a href="https://dash.runbook.io/signup" class="btn btn-lg btn-primary" role="button">Start resolving issues automatically today</a></center>
      <br>
    </div> <!-- col-md-12 -->
  </div> <!-- row -->
</div> <!-- container -->

{% include 'footer.html' %}
