## Worker Configuration
## zMQ
broker_ip: broker_host
broker_control_port: 5879
broker_worker_port: 5878
## Sink Config
sink_ip: sink_host
sink_port: 6000
## StatHat EZ Key
stathat_ez_key: update_me!
envname: [Alpha]
## Logging
use_syslog: False
