<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Stuffz -->
    <title>Runbook - DevOps Monitoring meets Automation</title>
    <meta name="description" content="Solve problems in your sleep with IFTTT-style mitigation of alerts">
    <meta name="keywords" content="CloudFlare DNS, CloudFlare, Runbook, Heroku Autoscaling, DNS Failover, Cloud DNS, High Availability, Static IP, Load Balancing, Domain Name, DNS, Nagios, BMC, Zenoss, Datadog, Cloud Monitoring, Monitoring Automation, Cloud Servers, Cloud Services, Server, App Developers, Server Monitoring">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Runbook - DevOps, automated"/>
    <meta property="og:description" content="Solve problems in your sleep with IFTTT-style mitigation of alerts"/>
    <meta property="og:site_name" content="Runbook"/>
    <meta property="og:image" content="{{url_for('static', filename='img/logos/png/runbook_logo_sleep_color_on_white.png')}}"/>

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/carousel.css"> -->
    <!-- <link rel="stylesheet" href="/static/css/bootstrap-theme.css"> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% if data['loggedin'] == True %}
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/darkly/bootstrap.min.css" rel="stylesheet">
{% else %}
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/custom.css')}}" rel="stylesheet">
    <!-- Custom CSS load -->
    <link href="{{url_for('static', filename='css/pricing.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/faq.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/colorwrap.css')}}" rel="stylesheet">
{% endif %}
    <link href="{{url_for('static', filename='css/bootstrap-multiselect.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/c3.css')}}" rel="stylesheet">


    {% block css %}{% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    {% for item in data['js_header'] %}
        {% include item %}
    {% endfor %}

  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top navigation-menu {{ 'clear' if data['clean_header'] }}" role="navigation">
      <div class="container header">
        <div class="navbar-header">
          <a href="{{ url_for('public.index_redirect') }}" class="header-logo">
          <img src="/static/img/logos/png/runbook_white_logo_color_on_white_small.png" width="100%" alt="Runbook">
          </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         </div>
         <div class="navbar-collapse navbar-right collapse">
           <ul class="nav navbar-nav navigation-nav">
            {% if data['loggedin'] == False %}
              <li class="{{ 'active' if data['active'] == 'pricing' }}">
                <a href="/pages/pricing">Pricing</a>
              </li>
              <li class="{{ 'active' if data['active'] == 'features' }}">
                <a href="/#features">Features</a>
              </li>
              <li class="{{ 'active' if data['active'] == 'docs' }}">
                <a href="http://runbook.readthedocs.org/">Docs</a>
              </li>
              <li>
                <a href="{{ url_for('user.login_page') }}" class="btn btn-action">Sign In</a>
              </li>
              <li>
                <a href="{{ url_for('user.signup') }}" class="btn btn-action">Sign Up</a>
              </li>
            {% else %}
{% if data['url'] == '/dashboard' %}
        <li class="active"><a href="/dashboard">Status</a></li>
        {% else %}
        <li><a href="/dashboard">Status</a></li>
        {% endif %}
        {% if "monitors" in data['url'] %}<li class="active">{%- else -%}<li>{%- endif -%}
        <a href="/dashboard/monitors">Runbooks</a></li>
        {% if "reactions" in data['url'] %}<li class="active">{%- else -%}<li>{%- endif -%}
        <a href="/dashboard/reactions">Reactions</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ data['username'] }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if data['url'] == '/dashboard/user-preferences' %}
            <li class="active"><a href="/dashboard/user-preferences">Preferences</a></li>
            {% else %}
            <li><a href="/dashboard/user-preferences">Preferences</a></li>
            {% endif %}
            {% if data['url'] == '/dashboard/mod-subscription' %}
            <li class="active"><a href="/dashboard/mod-subscription">Subscription</a></li>
            {% else %}
            <li><a href="/dashboard/mod-subscription">Subscription</a></li>
            {% endif %}
            <li><a href="mailto:support@runbook.io">Contact Support</a></li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="{{ url_for('user.logout_page') }}">Logout</a>
            </li>
            {% endif %}
          </ul>
        </li>
        </ul>
  			</div>
  		</div>
    </div>

    <br><br><br><br>

    <!-- messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
         {{message}}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endwith %}
