  <div class="dash-footer container">
    <div class="row">
     <div class="col-lg-12">
      <hr>
      <p class="text-muted credit text-right">Runbook &copy; is <a href="https://github.com/Runbook" target="_blank">Open Source</a>, and <a href="https://assembly.com/runbook" target="_blank">built as a community</a>. All Rights Reserved.</p>
    </div>
   </div>
  </div>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{url_for('static', filename='js/bootstrap-multiselect.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/list.min.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/list.pagination.min.js')}}" type="text/javascript"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.multiselect').multiselect({
        enableCaseInsensitiveFiltering: true,
        filterBehavior: 'both',
        filterPlaceholder: 'Search',
        buttonClass: 'form-control',
        numberDisplayed: 1,
        maxHeight: 400,
      });

      $('.select').multiselect({
        buttonClass: 'form-control',
        enableCaseInsensitiveFiltering: true,
        filterBehavior: 'both',
        filterPlaceholder: 'Search',
        maxHeight: 400,
      });

      $('.plan-select').multiselect({
        buttonClass: 'form-control',
        maxHeight: 400,
      });


    });

  </script>
  {% for item in data['js_bottom'] %}
    {% include item %}
  {% endfor %}
  {% block js %}{% endblock %}
  </body>
</html>
