    <div class="col-md-4">
      <h4>Menu:</h4>
      <ul class="nav nav-pills nav-stacked">
        {% if data['url'] == '/dashboard' %}
        <li class="active"><a href="/dashboard"><i class="fa fa-sitemap fa-lg"></i>&nbsp;&nbsp;Status</a></li>
        {% else %}
        <li><a href="/dashboard"><i class="fa fa-sitemap fa-lg"></i>&nbsp;&nbsp;Status</a></li>
        {% endif %}
        {% if "reactions" in data['url'] %}<li class="active">{%- else -%}<li>{%- endif -%}
        <a href="/dashboard/reactions"><i class="fa fa-cogs fa-lg"></i>&nbsp;&nbsp;Add Reactions</a></li>
        {% if "monitors" in data['url'] %}<li class="active">{%- else -%}<li>{%- endif -%}
        <a href="/dashboard/monitors"><i class="fa fa-eye-slash fa-lg"></i>&nbsp;&nbsp;Add Monitors</a></li>
        {% if data['url'] == '/dashboard/mod-subscription' %}
        <li class="active"><a href="/dashboard/mod-subscription"><i class="fa fa-refresh fa-lg"></i>&nbsp;&nbsp;Change Subscription</a></li>
        {% else %}
        <li><a href="/dashboard/mod-subscription"><i class="fa fa-refresh fa-lg"></i>&nbsp;&nbsp;Change Subscription</a></li>
        {% endif %}
        {% if data['url'] == '/dashboard/user-preferences' %}
        <li class="active"><a href="/dashboard/user-preferences"><i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;User Preferences</a></li>
        {% else %}
        <li><a href="/dashboard/user-preferences"><i class="fa fa-user fa-lg"></i>&nbsp;&nbsp;User Preferences</a></li>
        {% endif %}
      </ul>
      {% if data['upgraded'] == False %}
      <h5>Special Offers:</h5>
      <ul class="nav nav-pills nav-stacked">
        <li>
        <a href="https://www.digitalocean.com/?refcode=4c1c0f8027bb" target="_blank">Get a $10 credit with DigitalOcean</a>
        </li>
      </ul>
      {% endif %}
      <h5>Sponsors:</h5>
        <a href="mailto:hello@runbook.io" class="btn btn-primary">Become a Sponsor</a>
    </div>
