## Control Configuration
envname: {{ config['envname'] }}
stathat_key: {{ config['stathat_key'] }}
control_appname: {{ configlocal['queue'] }}
sleep: {{ configlocal['timer'] }} 
queue: {{ configlocal['queue'] }}
zone: {{ config['zone'] }}
## zMQ
broker_ip: {{ config['broker_ip'] }}
broker_control_port: {{ config['broker_control_port'] }}
broker_worker_port: {{ config['broker_worker_port'] }}
## Redis Config
redis_host: 127.0.0.1
redis_port: {{ redcluster['master_port'] }}
redis_db: {{ redcluster['master_db'] }}
redis_password: {{ redcluster['master_password'] }}
