Flask==0.10.1
Flask-Mail==0.9.1
Flask-Script==2.0.5
Flask-Testing==0.4.2
Jinja2==2.7
Markdown==2.4.1
MarkupSafe==0.23
PyYAML==3.10
WTForms==2.0.1
Werkzeug==0.9.6
coverage==4.0a1
itsdangerous==0.24
requests==1.2.3
rethinkdb==1.13.0-3
stripe==1.19.0
wsgiref==0.1.2