## Worker Configuration
## zMQ
broker_ip: {{ config['broker_ip'] }}
broker_control_port: {{ config['broker_control_port'] }}
broker_worker_port: {{ config['broker_worker_port'] }}
## Sink Config
sink_ip: {{ config['sink_ip'] }}
sink_port: {{ config['sink_port'] }}
## StatHat EZ Key
stathat_ez_key: {{ config['stathat_key'] }}
envname: '{{ config["envname"] }}'
